<div id="page-wrapper" data-scroll-easing="easeOutBack">

  <!-- Section - Home -->
  <section id="section01" class="section fullheight bg-blue-dark dark padding-v-100">

    <!-- BG Image -->
    <div class="bg-image"><img src="/static/img/backgrounds/creative1.jpg" alt=""></div>

    <div class="container v-center">
      <h1 class="margin-b-60">Essay Writing Service <strong>You Can Trust</strong>.<!--<br> Choose our academic
        experts to write your best papers!--></h1>

      <!-- Carousel -->
      <div class="carousel pagination-center animated" data-items="5" data-items-desktop="[1199,3]"
           data-items-tablet="[979,2]" data-items-mobile="[400,1]" data-animation="fadeInUp">
        <div class="icon-box" data-target="local-scroll">
          <a href="#section-prices">
            <div class="icon icon-lg icon-square icon-green"><span>from<br/><b>13.99</b><br/>page</span></div>
            <h3><strong>High School</strong></h3>
          </a>
        </div>
        <div class="icon-box" data-target="local-scroll">
          <a href="#section-prices">
            <div class="icon icon-lg icon-square icon-green"><span>from<br/><b>14.99</b><br/>page</span></div>
            <h3><strong>Undergraduate</strong></h3>
          </a>
        </div>
        <div class="icon-box" data-target="local-scroll">
          <a href="#section-prices">
            <div class="icon icon-lg icon-square icon-green"><span>from<br/><b>15.99</b><br/>page</span></div>
            <h3><strong>Master's</strong></h3>
          </a>
        </div>
        <div class="icon-box" data-target="local-scroll">
          <a href="#section-prices">
            <div class="icon icon-lg icon-square icon-green"><span>from<br/><b>20.99</b><br/>page</span></div>
            <h3><strong>Math/Statistics</strong></h3>
          </a>
        </div>
        <div class="icon-box" data-target="#contactModal" data-toggle="modal">
          <div class="icon icon-lg icon-square icon-green animated"><span>&nbsp;<br/><b>PH.D.</b><br/>&nbsp;</span>
          </div>
          <h3><strong><a href="#" data-animation="bounceIn" data-animation-delay="100">Get a quote</a></strong></h3>
        </div>
      </div>

      <br/>
      <br/>

      <div>
        <!--<span data-toggle="modal" data-target="#orderNow">-->
        <!--<a href="#" class="btn btn-default btn-huge"><span>Order Now</span></a>-->
        <!--</span>-->
        <!--<span data-target="local-scroll" class="read-more">or <a href="#section04">Learn More</a></span>-->

        <span data-target="#howItWorksModal" data-toggle="modal"> <a href="#" class="btn btn-default btn-huge">See How it Works <i class="ti-control-play"></i></a></span>
      </div>

      <br/>

      <div class="pull-right banner-seals" data-target="local-scroll">
        <a href="/pay-if-you-like">
          <img src="/static/img/seals/pay_only.png" alt="Pay only if you like essay">
        </a>

        <a href="#" data-target="#essaySamples" data-toggle="modal">
          <img src="/static/img/seals/free_samples.png" alt="Free essay samples">
        </a>

        <a href="#section-guarantees">
          <img src="/static/img/seals/money_back.png" alt="100% money back guarantee">
        </a>
      </div>
    </div>

  </section>
  <!-- Section - Home / End -->

  <!-- Section Who we are -->
  <section id="section06" class="section section-double right fullheight bg-blue-navy dark" data-header-change="true">

    <div class="col-md-6 image">
      <div class="bg-image"><img src="/static/img/backgrounds/creative4.jpg" alt=""></div>
    </div>
    <div class="col-md-6 content margin-t-10">
      <h1>About <strong>us</strong></h1>

      <div class="carousel pagination-center" data-single-item="true" data-auto-play="12500">
        <div class="slide margin-b-10">
          <p class="lead">Unlike other numerous websites offering custom essay writing services, we are a REAL company
            based in TX, USA. OwnEssays.com is represented by skilled writers and operated on
            the basis of integrity and superior customer service. OwnEssays.com was founded by Robert Lex – an academic
            professional who has sufficient experience and personal knowledge in the
            field of the custom essay writing. Robert decided to create a company that would fulfill the following
            functions:
          <ul class="list-check padding-l-0">
            <li>Provide excellent and comprehensive 24/7 customer support</li>
            <li>Offer REAL monetary guarantee on all custom essay writing services</li>
            <li>Lessen students' stress associated with overload of exams and term papers</li>
            <li>Provide free consultation services to our returning customers who buy argumentative essays
              or any other types of essays</li>
          </ul>
          </p>
        </div>
        <div class="slide margin-b-10">
          <p class="lead"><strong>Native English Speaking Writers</strong>
            <br/>
            <br/>
            All our writes are native English speakers, holding Master's or PhD degree, with at least 3 years of
            relevant academic writing experience. You have a chance to review the full profiles of
            our top writers. Should you prefer a specific writer to work on your project, you may select this
            professional when you buy argumentative essays, buy paper, book report, custom essay, or buy research paper from us.
          </p>
        </div>
        <div class="slide margin-b-10">
          <p class="lead"><strong>Superior Customer Support</strong>
            <br/>
            <br/>
            Each and every student is a valuable customer to us. Therefore, we invested heavily into a state-of- the-art
            customer support system, employing the best and most knowledgeable specialists
            on the market. We provide 24/7 assistance to you, making sure that you get help whenever you truly need it.

          <p class="lead">In addition, you may call us in the US Monday through Friday between 9AM and 8PM EST. Our
            operators are also available to answer your call between 10AM and 5PM on Saturday
            and Sunday.</p>
        </div>
        <div class="slide margin-b-10">
          <p class="lead"><strong>Plagiarism-free guarantee</strong>
            <br/>
            <br/>
            We guarantee that when you buy argumentative essays from OwnEssays, you custom essay, research paper, book report, academic paper or term paper is prepared from scratch by our writers. We also guarantee the genuine and authentic nature of
            all custom essay writing products delivered by OwnEssays.com.

          <p class="lead">We are 100% confident in the exceptionally high quality of our essay writing service. If you
            detect plagiarism in your term paper, custom essay, research paper, or book
            report, we will issue a complete refund, no questions asked.</p>
        </div>
        <div class="slide margin-b-10">
          <p class="lead"><strong>Free consultation services</strong>
            <br/>
            <br/>
            If you are our client and you buy argumentative essays or any other essays from us regularly, there's some valuable extra you can count on. OwnEssays.com offers free online consultation
            services to help you excel in your academic career. As put by Joseph Addison,” What
            sculpture is to a block of marble, education is to the soul”. We are strongly persuaded that you are a
            bright and talented student, having a chance of succeeding in any area you choose.

          <p class="lead">Our experts will teach you how to improve your academic writing; we will help you acquire
            essential skills needed in the modern world of academics; and we will teach you how
            to position yourself when seeking internship or applying for a real job.</p>
        </div>
      </div>
    </div>

  </section>
  <!-- Section - Who we are / End -->

  <!-- Section - Why choose -->
  <section id="section04" class="section fullheight padding-v-100 bg-grey" data-header-change="true">

    <div class="section-content container v-center">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="margin-b-60">Why Choose <strong>OwnEssays</strong>?</h1>
        </div>
      </div>
      <!-- Services -->
      <div class="row">
        <!-- Service Box -->
        <div class="col-lg-3 col-md-4 col-sm-3 service-box animated" data-animation="fadeInUp">
          <div class="icon icon-sm"><i class="ti-user"></i></div>
          <h3><strong>Native English</strong><br/> Speaking Writers</h3>
          <ul class="list-check padding-l-0">
            <p>A team of native English speaking professionals with 3 years + of academic writing
              experience.</p>
          </ul>
        </div>
        <!-- Service Box -->
        <div class="col-lg-3 col-md-4 col-sm-3 service-box animated" data-animation="fadeInUp"
             data-animation-delay="100">
          <div class="icon icon-sm"><i class="ti-medall"></i></div>
          <h3><strong>Plagiarism-free</strong><br/> Guarantee</h3>
          <ul class="list-check padding-l-0">
            <p>Your work is 100% written from scratch by your writer. We use sophisticated plagiarism
              detection software, which is very similar to the one designed by Turnitin.com.</p>
          </ul>
        </div>
        <!-- Service Box -->
        <div class="col-lg-3 col-md-4 col-sm-3 service-box animated" data-animation="fadeInUp"
             data-animation-delay="200">
          <div class="icon icon-sm"><i class="ti-shield"></i></div>
          <h3><strong>100% Moneyback</strong><br/> Guarantee</h3>
          <ul class="list-check padding-l-0">
            <p>If you detect plagiarism in your term paper, custom essay, research paper, or book report, we
              will issue a complete refund, no questions asked.</p>
          </ul>
        </div>
        <!-- Service Box -->
        <div class="col-lg-3 col-md-4 col-sm-3 service-box animated" data-animation="fadeInUp"
             data-animation-delay="300">
          <div class="icon icon-sm"><i class="ti-headphone-alt"></i></div>
          <h3><strong>24/7 Support</strong><br/> and 100% Privacy</h3>
          <ul class="list-check padding-l-0">
            <p>You may reach our customer support whenever you need us. We never and under no circumstances
              will reveal your identity to any third party.</p>
          </ul>
        </div>
      </div>
    </div>

  </section>
  <!-- Section - Why choose / End -->

  <!-- Section - Benefit -->
  <section id="section03-1" class="section section-double left fullheight bg-blue dark" data-header-change="true">

    <div class="col-md-6 image">
      <div class="bg-image"><img src="/static/img/backgrounds/creative3.jpg" alt=""></div>
    </div>
    <div class="col-md-6 content margin-t-10">
      <h1>Welcome to <strong>OwnEssays.com</strong> – your custom essay writing service!</h1>

      <div class="carousel pagination-center" data-single-item="true" data-auto-play="12500">
        <div class="slide margin-b-10">
          <p class="lead">Unlike other numerous websites offering essay writing services, OwnEssays.com is different
            because we are a <strong>REAL COMPANY</strong>, we are <strong>PERSONAL</strong>,
            and we <strong>PROVIDE SOLID GUARANTEES</strong> of the authenticity of your term paper, custom written
            essay, book report, business paper, or research paper. </p>

          <p class="lead">Here at OwnEssays.com, we strive to make a difference in your academic career by providing you
            with quality custom essays, business essays, philosophy papers, and custom
            written papers – practically all types of custom essay writing services</p>

          <p class="lead"><strong>OwnEssays.com is an Internet-enabled company, based in Dallas, TX, USA.</strong>
            OwnEssays.com is part of the Own Space Enterprises – an organization for skilled
            professionals providing broad range of academic services to talented students just like you.</p>
        </div>
        <div class="slide margin-b-10">
          <p class="lead"><strong>Advantages of using our custom essay writing service:</strong>
          <ul class="list-check padding-l-0">
            <li>A team of native English speaking professionals with
              <strong>3 years + of academic writing experience;</strong></li>
            <li><strong>Offering real guarantees of the authenticity and superior quality</strong> of the essays, term
              papers, book reports, and research papers produced by OwnEssays.com;
            </li>
            <li>Addressing the needs and concerns of students in the timeliest and most efficient fashion.</li>
          </ul>
          <p class="lead"><strong>OwnEssays.com was born in June 2001</strong> – all in an attempt to change the nature
            of custom essay writing for better!</p>

          <p class="lead"><strong>We provide 24/7 customer support</strong> to guarantee that you receive professional
            assistance whenever necessary. You may also call us in the US Monday through
            Friday between 9AM and 8PM EST. Our operators are also available to answer your call between 10AM and 5PM on
            Saturday and Sunday.</p>
        </div>
        <div class="slide margin-b-10">
          <p class="lead"><strong>Any deadline is possible if you order at OwnEssays.com!</strong> You may place your
            order at night and receive your term paper, custom essay, book report, business
            paper, or research paper when you wake up the next day.

          <p class="lead"><strong>We formed a team of native English speaking writers</strong> who work at OwnEssays.com
            on the full-time basis. Our writers have 3 years + experience in the field of
            academia.
            Beware that many websites supposedly offering "custom essay writing services" use unprofessional freelancers
            who come from the third world countries and have no relevant academic
            background.

          <p class="lead"><strong>We provide free essay writing advice</strong> and coaching, aiming to perfect your
            writing skills and enhance your research capabilities.</p>
        </div>
        <div class="slide margin-b-10">
          <p class="lead"><strong>Plagiarism-free guarantee.</strong> If you detect plagiarism in your term paper,
            custom essay, research paper, or book report, we will issue a complete
            refund and will pay you double.

          <p class="lead">You may be
            <strong>100% confident that your work is written from scratch by your writer</strong>, when using our essay
            writing service. We use sophisticated scanning and
            plagiarism detection software, which is very similar to the one designed by Turnitin.com.

          <p class="lead"><strong>We offer 100% privacy guarantee.</strong> We never and under no circumstances will
            reveal your identity to any third party. We value our clients and recognize the
            numerous difficulties associated with studying in the modern world.</p>
        </div>

      </div>
    </div>

  </section>
  <!-- Section - Benefit / End -->

  <!-- Section - Prices -->
  <section id="section-prices" class="section fullheight bg-red dark padding-v-100" data-header-change="true">

    <div class="section-content container container-wide v-center">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="margin-b-60">
            High quality <strong>essay writing</strong> service</h1>
        </div>
      </div>
      <!-- Prices -->
      <script>
        var Matrix = {
          "High School": {
            "5 days": 13.99,
            "4 days": 14.99,
            "3 days": 15.99,
            "48 hours": 18.99,
            "24 hours": 22.99,
            "12 hours": 25.99,
            "9 hours": 28.99
          },

          "Undergraduate": {
            "5 days": 14.99,
            "4 days": 15.99,
            "3 days": 17.99,
            "48 hours": 20.99,
            "24 hours": 23.99,
            "12 hours": 27.99,
            "9 hours": 30.99
          },

          "Masters": {
            "5 days": 15.99,
            "4 days": 17.99,
            "3 days": 19.99,
            "48 hours": 21.99,
            "24 hours": 24.99,
            "12 hours": 28.99,
            "9 hours": 33.99
          },

          "PhD": {
            "45 days": 25.99,
            "30 days": 27.99,
            "21 days": 29.99,
            "14 days": 35.99,
            "7 days": 39.99
          },

          "Econ/Math": {
            "5 days": 20.99,
            "4 days": 23.99,
            "3 days": 27.99,
            "48 hours": 31.99,
            "24 hours": 34.99,
            "12 hours": 39.99
          }
        };

        function write_prices(level) {
          for (var period in level) {
            document.write('<li><span class="label label-default">' + period + '</span> = <span class="label label-primary">' + level[period] + '</span></li>');
          }
        }
      </script>
      <style>
        #section-prices .service-box .icon {display: none;}
        #section-prices ul.list-empty li {min-width: 125px;}
      </style>
      <div class="row" data-toggle="modal" data-target="#orderNow">
        <div class="col-lg-2 col-md-4 col-sm-6 service-box animated" data-animation="fadeInUp">
          <div class="icon icon-sm">1.</div>
          <h3><strong>High School</strong></h3>
          <ul class="list-empty padding-l-0">
            <script>write_prices(Matrix["High School"]);</script>
          </ul>
        </div>
        <!-- Service Box -->
        <div class="col-lg-2 col-md-4 col-sm-6 service-box animated" data-animation="fadeInUp" data-animation-delay="100">
          <div class="icon icon-sm">2.</div>
          <h3><strong>Undergraduate</strong></h3>
          <ul class="list-empty padding-l-0">
            <script>write_prices(Matrix["Undergraduate"]);</script>
          </ul>
        </div>
        <!-- Service Box -->
        <div class="col-lg-2 col-md-4 col-sm-6 service-box animated" data-animation="fadeInUp" data-animation-delay="200">
          <div class="icon icon-sm">3.</div>
          <h3><strong>Master's</strong></h3>
          <ul class="list-empty padding-l-0">
            <script>write_prices(Matrix["Masters"]);</script>
          </ul>
        </div>
        <!-- Service Box -->
        <div class="col-lg-2 col-md-4 col-sm-6 service-box animated" data-animation="fadeInUp" data-animation-delay="300">
          <div class="icon icon-sm">4.</div>
          <h3><strong>Economics/ Finance/ Math</strong></h3>
          <ul class="list-empty padding-l-0">
            <script>write_prices(Matrix["Econ/Math"]);</script>
          </ul>
        </div>
        <!-- Service Box -->
        <div class="col-lg-2 col-md-4 col-sm-6 service-box animated" data-animation="fadeInUp" data-animation-delay="300">
          <div class="icon icon-sm">5.</div>
          <h3><strong>PhD</strong></h3>
          <ul class="list-empty padding-l-0">
            <script>write_prices(Matrix["PhD"]);</script>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9 col-md-10">
          <p class="lead" data-target="local-scroll" >High quality essay writing services cannot be cheap. Furthermore, rates charged by
            <strong>professional</strong> native English speaking <a href="#section08" class="link-default">writers</a> with profound knowledge in specialized
            subjects such as economics, finance, literature, and history CANNOT be low.</p>
          <p class="lead">At the same time, we take pride in <strong>charging 25%-30% LOWER average prices</strong> than
            our competitors. How do we manage to offer exceptionally high writing standards while charging reasonable
            prices? The answer is simple: here at Essays, we work hard and our main goal is to help students become
            better writers. Order now or <a href="#" class="link-default" data-toggle="modal"
                                            data-target="#contactModal" data-animation="bounceIn" data-animation-delay="100">contact
            us</a> with your question on any subject. We will help.</p>
        </div>
      </div>
    </div>

  </section>
  <!-- Section - Prices -->

  <!-- Section - Guarantees -->
  <section id="section-guarantees" class="section fullheight bg-green-dark dark padding-v-100" data-header-change="true">

    <div class="section-content container container-wide v-center">
      <div class="row">
        <div class="col-lg-9 col-md-10">
          <h1 class="margin-b-50">The Industry's best <strong>Guarantees</strong></h1>
          <div class="row">
            <div class="col-sm-6">
              <!-- Event -->
              <div class="margin-b-40">
                <h3 class="padding-b-10 margin-b-10 border-bottom"><strong>Plagiarism-free</strong> Guarantee</h3>
                <span class="margin-b-0">We use sophisticated plagiarism detection software similar to that designed by Turnitin.com. If you detect plagiarism in your paper, <strong>we will issue a complete refund</strong>, no questions asked.</span>
              </div>
              <!-- Event -->
              <div class="margin-b-40">
                <h3 class="padding-b-10 margin-b-10 border-bottom"><strong>Authenticity</strong> Guarantee</h3>
                <span class="margin-b-0">You may be 100% confident that your work is written from scratch by your writer. Our Quality Assurance Department evaluates all papers to give you <strong>peace of mind</strong> of the high quality of your essay.</span>
              </div>
            </div>
            <div class="col-sm-6">
              <!-- Event -->
              <div class="margin-b-40">
                <h3 class="padding-b-10 margin-b-10 border-bottom"><strong>100% Privacy</strong> Guarantee</h3>
                <span class="margin-b-0">We never and <strong>under no circumstances</strong> will reveal your identity to any third party. We value our clients and recognize the numerous difficulties associated with studying in the modern world. </span>
              </div>

              <!-- Event -->
              <div class="margin-b-40">
                <h3 class="padding-b-10 margin-b-10 border-bottom"><strong>Money-back</strong> Guarantee</h3>
                <span class="margin-b-0">All our specialists are native English speaking writers with 5 years+ relevant experience. Nevertheless, if the work is not to your <strong>satisfaction</strong> and if it can not be revised, <strong>we will refund</strong> your payment.</span>
              </div>
            </div>
          </div>
          <p class="lead">Here you can read our <%= link_to 'Privacy Policy', privacy_url, class: 'link-default' %> and
            <%= link_to 'Terms and Conditioons', terms_url, class: 'link-default' %>. Still have questions? Contact us
            <a href="#" class="link-default" data-toggle="modal" data-target="#contactModal" data-animation="bounceIn"
               data-animation-delay="100">here</a> at any time. </p>
        </div>
      </div>
    </div>

  </section>
  <!-- Section - Guarantees / End -->

  <!-- Section - FAQ  -->
  <section id="section02" class="section section-double left fullheight bg-white" data-header-change="true">
    <!-- BG Image -->
    <div class="bg-image"><img src="/static/img/backgrounds/creative6.jpg" alt=""></div>

    <div style="margin-top: 0px;" class="section-content container v-center">
      <div class="row">
        <div class="col-lg-8">
          <h1>Our clients <strong>frequently ask</strong></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel-group" id="accordion_1">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Why should I choose OwnEssays?</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Our company offers 100% authentic work, composed in accordance with your
                  instructions.
                  High quality custom essay or term papers are written by native English speaking
                  writers with
                  3 years + of relevant experience. You receive 24/7 personal assistance and customer
                  support.
                  Also, we provide free unlimited revisions if your paper does not meet your
                  requirements.
                </p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">When will my
                  paper be
                  ready?</a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>We approach deadlines honestly and realistically. How long it will take us to write
                  your
                  essay depends on the writer level of your choice, urgency level of your essay and
                  your
                  instructions. Our experience is that we can complete the majority of orders in 24
                  hours. But
                  we suggest you make your order as soon as you can to allow us additional time in
                  case we
                  needed to do additional research. If we experience delays in meeting your deadline
                  or if we
                  need additional time, we will get in touch with you to discuss the order. Rest
                  assured that
                  we will do everything in our power to complete your order in time.
                </p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How will I
                  get my
                  paper?</a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Once you have placed your order, you can track its progress. We will email you the
                  completed
                  paper in the MS Word format.</p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Who will be
                  writing
                  my paper?</a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Our writer team is made up of full-time and part-time writers (many of whom work in
                  academia)
                  who go through a tough screening process before joining our team. Our Quality
                  Assurance
                  Department supervises and evaluates their performance to provide you with quality
                  writing
                  services.
                </p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How can you
                  guarantee
                  that your writers are competent enough to complete my order?</a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Our team consists of over seven hundred researchers, editors and writers. Most of our
                  employees hold graduate degrees in their fields and take interest in taking on
                  challenging
                  tasks. Our employees self-select for the assignments: they pick an assignment of
                  interest,
                  and we allocate the assignment to whoever of them is best equipped to fulfill it. We
                  therefore guarantee that your order goes to the person having both the desire and
                  professional qualifications to do the work. </p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Can my writer
                  and I
                  communicate?</a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                <p>After the order is placed and a writer assigned, you and your writer can communicate
                  by email
                  round-the-clock. Our average response time is one hour for regular orders (3 to 5
                  days) and
                  half an hour for expedited orders (9-24 hours).</p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Can you help
                  me
                  write a thesis or a dissertation?</a>
              </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Yes, we can. There are a number of professional researchers on our team skilled in a
                  great
                  variety of scientific areas. We have the capacity to deliver top-level academic
                  writing.
                  Years of research experience enable our professionals to create outstanding texts of
                  any
                  difficulty level, including Master’s and PhD.</p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen">What is your paper
                  format?</a>
              </h4>
            </div>
            <div id="collapseNineteen" class="panel-collapse collapse">
              <div class="panel-body">
                <p>When you order term paper, custom essay, research paper, or book report from OwnEssays, your standard
                  page will contain approximately 285 words of text, written in 12 point Arial
                  font, double-spaced, 1 inch margins on all sides.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel-group" id="accordion_2">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Do you
                  provide any
                  plagiarism-free guarantees?</a>
              </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
              <div class="panel-body">
                <p>We offer our customers a plagiarism-free guarantee. If you find signs of plagiarism
                  in your
                  term paper, custom essay, research paper, or book report, we will issue a complete
                  refund,
                  no questions asked. You may be 100% confident that your work is written from scratch
                  by your
                  writer. We use sophisticated scanning and plagiarism detection software similar to
                  that
                  designed by Turnitin.com. This plagiarism detection software gives you peace of
                  mind, while
                  ensuring the highest quality book report, term paper, research paper, or custom
                  essay.</p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Do you offer
                  satisfaction or Money-back guarantee for your services?</a>
              </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
              <div class="panel-body">
                <p>We aim to meet or exceed our clients’ expectations through understanding their needs.
                  Most of
                  our writers either work or have worked in academia and have necessary knowledge and
                  real-world experience. If our work is not to your satisfaction and if there is
                  nothing we
                  can do to improve it, we will refund your money.</p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What if I am
                  not
                  satisfied with the paper?</a>
              </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Our support team works round-the-clock to help you make any amendments. In the
                  unlikely case
                  of our failure to precisely fulfill your instructions, we will revise the work free
                  of
                  charge upon your request. We will send you the revised work within three days of
                  your
                  request.</p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">How secure
                  is your
                  writing service?</a>
              </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
              <div class="panel-body">
                <p>The confidentiality and security of our clients are on top of our priority list. We
                  guarantee
                  complete privacy of your information. Your personal information will never be
                  disclosed to
                  anyone under any circumstances.</p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">Is the
                  payment
                  process private and secure? Do you retain my credit card information? </a>
              </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
              <div class="panel-body">
                <p>All of our payments are processed by 2Checkout.com – a leader in security business
                  processing. We do not have access to your credit card information and will never,
                  under any
                  circumstances, share the details available to OwnEssays (your name and email) with
                  any third
                  party. OwnEssays does not store your credit card data.</p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Do you
                  offer discounts when buy argumentative essays?</a>
              </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
              <div class="panel-body">
                <p>We offer the following savings to our returning customers on all subsequent orders:
                <ul>
                  <li>30-45 pages: you save 5%</li>
                  <li>46-90 pages: you save 10%</li>
                  <li>91 pages+: you save 15%</li>
                </ul>
                </p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">Who is
                  eligible
                  for a refund?</a>
              </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse">
              <div class="panel-body">
                <p>We guarantee 100% satisfaction. In the unlikely case of our failure to precisely
                  fulfill your
                  instructions, we will revise the work free of charge upon your request, which you
                  have to
                  submit within 15 days. If the revised paper still does not meet your requirements,
                  you can
                  request a refund in writing within three days of your order’s completion. As a
                  matter of
                  fact, we have the highest rate of client satisfaction in the industry.</p>
              </div>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">Are you
                  officially registered as a company?</a>
              </h4>
            </div>
            <div id="collapseFifteen" class="panel-collapse collapse">
              <div class="panel-body">
                <p>We are an officially registered business entity under US law. Our headquarters are
                  located in
                  Dallas, TX. We have years of successful experience operating in the industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section - FAQ / End -->

  <!-- Section - Team -->
  <section id="section08" class="section fullheight bg-purple dark padding-v-100" data-header-change="true">

    <div class="section-content container v-center">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="margin-b-60">Meet our <strong>top writers</strong></h1>
        </div>
      </div>

      <div class="row text-center">
        <!-- Member -->
        <div class="col-sm-3 col-xs-6">
          <div data-toggle="modal" data-target="#teamModal1" class="member-box margin-b-30">
            <div class="member-photo margin-b-10"><img class="square" src="/static/img/members/member01.jpg"
                                                       alt=""/></div>
            <h6 class="margin-b-0">Goran P.</h6>
            <strong class="text-sm text-white">UK/ 4 years experience</strong>
          </div>
        </div>
        <!-- Member -->
        <div class="col-sm-3 col-xs-6">
          <div data-toggle="modal" data-target="#teamModal2" class="member-box margin-b-30">
            <div class="member-photo margin-b-10"><img class="square" src="/static/img/members/member02.jpg"
                                                       alt=""/></div>
            <h6 class="margin-b-0">Sandra S.</h6>
            <strong class="text-sm white">USA/ 6 years experience</strong>
          </div>
        </div>
        <!-- Member -->
        <div data-toggle="modal" data-target="#teamModal3" class="col-sm-3 col-sm-offset-0 col-xs-6 col-xs-offset-3">
          <div class="member-box margin-b-30">
            <div class="member-photo margin-b-10"><img class="square" src="/static/img/members/member03.jpg"
                                                       alt=""/></div>
            <h6 class="margin-b-0">Bob R.</h6>
            <strong class="text-sm text-white">USA/ 5 years experience</strong>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <!-- Member -->
        <div data-toggle="modal" data-target="#teamModal4" class="col-sm-3 col-xs-6">
          <div class="member-box margin-b-30">
            <div class="member-photo margin-b-10"><img class="square" src="/static/img/members/member04.jpg"
                                                       alt=""/></div>
            <h6 class="margin-b-0">Jim H.</h6>
            <strong class="text-sm text-white">UK/ 9 years experience</strong>
          </div>
        </div>
        <!-- Member -->
        <div class="col-sm-3 col-xs-6">
          <div data-toggle="modal" data-target="#teamModal5" class="member-box margin-b-30">
            <div class="member-photo margin-b-10"><img class="square" src="/static/img/members/member05.jpg"
                                                       alt=""/></div>
            <h6 class="margin-b-0">Ryan P.</h6>
            <strong class="text-sm text-white">USA/ 4 years experience</strong>
          </div>
        </div>
        <!-- Icon Box -->
        <div class="col-sm-3 col-sm-offset-0 col-xs-6 col-xs-offset-3">
          <div class="icon-box margin-b-30 animated" data-animation="bounceIn">
                        <span data-toggle="modal" data-target="#contactModal"><a href="#section08"
                                                                                 class="icon icon-square icon-hover icon-red animated-hover"
                                                                                 data-hover-animation="shake"
                                                                                 data-hover-animation-duration="600"><i
                        class="ti ti-pencil-alt"></i></a></span>
            <h6 class="margin-b-0">Career opportunities</h6>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Section - Team / End -->

  <!-- Section - Samples -->
  <section id="section-samples" class="section fullheight bg-green-dark dark padding-v-100" data-header-change="true">

    <div class="section-content container container-wide v-center">
      <div class="row">
        <div class="col-lg-9 col-md-10">
          <h1 class="margin-b-50"><strong>Argumentative Essay</strong> Samples</h1>
          <div class="row">
            <div class="col-sm-6">
              <!-- Event -->
              <div class="margin-b-40">
                <h3 class="padding-b-10 margin-b-10 border-bottom">Argumentative Essay: Learn the Three-Part Structure </h3>
                <span class="margin-b-0">1. The Problem: Every argumentative paper must address a problem in the text; 2.
                  The Solution: This is what one is trying to prove.; 3. The Relevance: the Problem has been identified
                  and analyzed in the Solution section, but why does it matter?
                  <a href="/static/samples/Argumentative_Essay_Example_Three-Part_Structure.pdf">Download &rarr;</a></span>
              </div>
              <!-- Event -->
              <div class="margin-b-40">
                <h3 class="padding-b-10 margin-b-10 border-bottom">Argumentative Essay 1: Does Internet Improve our Lives</h3>
                <span class="margin-b-0">In this paper, we look at the current developments in technology, arguing that
                  Internet brings many positive changes into the fields of education and social learning by enabling
                  individuals to have access to the wide array of resources and improving the learning process.
                <a href="/static/samples/Argumentative_Essay_Does_the_Internet_Improve_our_Lives.pdf">Read essay &rarr;</a></span>
              </div>
            </div>
            <div class="col-sm-6">
              <!-- Event -->
              <div class="margin-b-40">
                <h3 class="padding-b-10 margin-b-10 border-bottom">Argumentative Essay 2: Should Gays be allowed to become Priests?</h3>
                <span class="margin-b-0">This paper, by referring to a number of scholarly articles and sources, argues
                  that homosexuals should be allowed to become priests as the real problem with gay clergymen is not in
                  their sexuality, but in the absence of an open discourse and ability to reveal their true nature
                  to the church or society. <a href="/static/samples/Argumentative_Essay_Gays_should_be_allowed_to_become_priests_Contact_for_full_version.pdf">Read essay &rarr;</a></span>
              </div>

              <!-- Event -->
              <div class="margin-b-40">
                <h3 class="padding-b-10 margin-b-10 border-bottom">Argumentative Essay 3: CBC - Is There Future?</h3>
                <span class="margin-b-0">Through the analysis of TV and radio content in Canada, changing viewers’
                  preferences, and details of the CBC Corporation, this essay argues that, sadly, the future for the CBC
                  is gloomy and it is only a matter of time before the once famous broadcaster takes its final bow.
                  <a href="/static/samples/Argumentative_Essay_CBC_Future_contact_to_get_full_copy.pdf">Read essay &rarr;</a></span>
              </div>
            </div>
          </div>
          <p class="lead">You can order custom essay written by professionals <a href="#" class="link-default" data-toggle="modal"
                                                                                 data-target="#orderNow" data-animation="bounceIn"
                                                                                 data-animation-delay="100">here</a>.
            Contact us <a href="#" class="link-default" data-toggle="modal"
                          data-target="#contactModal" data-animation="bounceIn"
                          data-animation-delay="100">here</a> at any time. </p>
        </div>
      </div>
    </div>

  </section>
  <!-- Section - Samples / End -->

  <!-- Section - Blog -->
  <section id="section07" class="section bg-orange dark" data-header-change="true">

    <div class="masonry-grid no-padding">

      <!-- Masonry Sizer -->
      <div class="masonry-sizer"></div>

      <% @posts.each do |post| %>
          <!-- Masonry Element -->
          <div class="masonry-item wide">
            <div class="gallery-item">
              <div class="item-photo">
                <a href="<%= show_post_path(post) %>" data-target="ajax-modal">
                  <%= image_tag post.photo %>
                </a>
              </div>
              <div class="item-hover bg-dark dark">
                <div class="item-hover-content">
                  <h1><%= raw post.title %></h1>
                  <a href="<%= show_post_path(post) %>" data-target="ajax-modal"
                     class="btn btn-orange">
                    <span>Read more</span></a>
                </div>
              </div>
            </div>
          </div>
      <%- end %>

    </div>

  </section>
  <!-- Section - Blog / End -->

  <!-- Section - Testimonials -->
  <section id="section05" class="section fullheight padding-v-100 bg-white" data-header-change="true">
    <!-- BG Image -->
    <div class="bg-image"><img src="/static/img/backgrounds/creative5.jpg" alt=""></div>
    <div class="section-content container v-center">
      <div class="margin-t-60">
        <div class="col-lg-8">
          <h1 class="margin-b-60">What our clients <strong>say about us</strong>?</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="carousel pagination-center what-clients-say" data-single-item="true" data-auto-play="2500">
            <div class="slide margin-b-30">
              <h1 class="margin-b-10">"I would like to thank you for the hard work. Everything is looking great and I
                will email you if any concerns arise. When I decided to buy argumentative essays from OwnEssays, I was a little worried,
                now, I'm so happy. I will definitely spread the word about these services."</h1>
              <br/>
              <span class="text-muted" style="float: right;">Sincerely, J. K.</span>
            </div>
            <div class="slide margin-b-30">
              <h1 class="margin-b-10">"It’s been my utmost pleasure dealing with you. Please pass my huge “THANK YOU”
                to the writer who worked on my “Psychology article review”. I am definitely going
                to tell my friends about OwnEssays and the high level of services you provide."</h1>
              <br/>
              <span class="text-muted" style="float: right;">R. L.</span>
            </div>
            <div class="slide margin-b-30">
              <h1 class="margin-b-10">"Thank you for saving me. I’ll be honest - I had doubts you could complete my case
                study in just 9 hours, but the work I received surpassed all my expectations.
                Everything looks great and up to the point. Have a nice weekend."</h1>
              <br/>
              <span class="text-muted" style="float: right;">K. S.</span>
            </div>
            <div class="slide margin-b-30">
              <h1 class="margin-b-10">"You just lowered my stress level by 50%. I can’t thank you enough for finding the
                writer to complete my project on such a short notice. Thank you for your
                continuous help and support."</h1>
              <br/>
              <span class="text-muted" style="float: right;">S. A.</span>
            </div>
            <div class="slide margin-b-30">
              <h1 class="margin-b-10">"Even though I contacted you to only revise the paper I’ve written myself, the
                revision was nicely done and delivered to me on time. I can definitely say ‘you
                nailed it’. I loved the fact that I could be in touch with the writer, getting continuous updates on the
                progress of my work. I wish OwnEssays lots of happiness and prosperity."</h1>
              <br/>
              <span class="text-muted" style="float: right;">Sincerely, N. B.</span>
            </div>
            <div class="slide margin-b-30">
              <h1 class="margin-b-10">"Both I and my sister would like to thank the professionals who wrote our papers on
                Comparison and Contrast of the Characters in Pushkin’s the Queen of Spades. Both of
                the papers were great and definitely had different styles. Our professor never even guessed that the
                works were not written by us. OwnEssays, you rock!"</h1>
              <br/>
              <span class="text-muted" style="float: right;">L and D.</span>
            </div>
            <div class="slide margin-b-30">
              <h1 class="margin-b-10">"I want to thank the writer who wrote my essay. I got A on my paper on ‘Mental
                Exercises in improving Chronic Illness Treatment’. Thank you so much and God bless
                you."</h1>
              <br/>
              <span class="text-muted" style="float: right;">S. H.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section - Testimonials / End -->

  <!-- Section - Contact -->
  <section id="section09" class="section fullheight bg-blue-dark dark padding-v-100" data-header-change="true">

    <div class="section-content container v-center">
      <div class="row">
        <div class="col-lg-8">
          <span class="icon icon-square icon-blue-dark icon-hover"><i class="fa fa-graduation-cap"></i></span>

          <h1 class="margin-b-60">
            Choose the best way to <strong>get in touch</strong> with us!
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#" class="icon icon-sm icon-square icon-blue-dark icon-hover animated"
             data-animation="bounceIn" data-toggle="modal" data-target="#mapModal"><i
          class="fa fa-map-marker"></i></a>
          <address>
            <strong>Own Space Enterprises</strong>
          </address>
        </div>
        <div data-toggle="modal"
             data-target="#contactModal" class="col-md-3 col-sm-6">
          <a href="#section09" class="icon icon-sm icon-square icon-blue-dark icon-hover animated"
             data-animation="bounceIn" data-animation-delay="100"><i class="fa fa-envelope"></i></a>

          <div class="margin-b-30">
            <strong>E-mail:</strong><br>
            <a data-animation="bounceIn" data-animation-delay="100"
               href="#section09" class="link-default">support@ownessays.com</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <span class="icon icon-sm icon-square icon-blue-dark"><i class="fa fa-phone"></i></span>

          <div class="margin-b-30">
            <strong>Own Space Enterprises</strong><br>
            +1 888 727 1131
          </div>
        </div>
        <div data-toggle="modal"
             data-target="#contactModal" class="col-md-3 col-sm-6">

          <a href="#section09" class="icon icon-sm icon-square icon-blue-dark icon-hover animated"
             data-animation="bounceIn" data-animation-delay="100"><i class="fa fa-info"></i></a>

          <div class="margin-b-30">
            <strong>Ask for a Quote</strong>
          </div>
        </div>
      </div>

    </div>

  </section>
  <!-- Section - Contact / End -->

  <%= render 'shared/footer' %>

</div>

<%= render 'shared/how_it_works_modal' %>

<%= render 'shared/map_modal' %>

<%= render 'shared/contact_modal' %>

<%= render 'shared/writers_modal' %>

<%= render 'shared/essay_samples_modal' %>
