<div id="page-wrapper" data-scroll-easing="easeOutBack">

  <!-- Section - Guarantees -->
  <section id="section-guarantees" class="section fullheight bg-purple-navy dark padding-v-100" data-header-change="true">

    <div class="section-content container container-wide v-center">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h1 class="margin-b-50">Pay <strong>Only</strong> If You Like Your Essay</h1>
          <p class="lead">We understand that choosing a reliable custom essay writing service is very difficult given
            the multitude of essay writing services available online. Being <strong>100% confident</strong> in the
            exceptional skills of
            our <strong>Native English Speaking Writers</strong>, we came up with the
            <strong>BEST and EASIEST solution</strong> for all students seeking
            help with writing their plagiarism free essay, research paper, book report, non plagiarized article review,
            argumentative essay, or dissertation. </p>
          <div class="row">
            <div class="col-sm-4">
              <!-- Event -->
              <div class="margin-b-40">
                <h3 class="padding-b-10 margin-b-10 border-bottom">STEP <strong>ONE</strong></h3>
                <span class="margin-b-0">Send your detailed ESSAY INSTRUCTIONS to <a href="mailto:orders@ownessays.com">orders@ownessays.com</a> or by <a href="/#section09">clicking here</a> .
                      In the email, please be sure to provide the SUBJECT of your paper, the DEADLINE, the number of pages
                      required (our standard is 300 words / page), the ACADEMIC LEVEL (high school, college/ university,
                      Master’s, or PhD), the TYPE OF WRITING (essay, research paper, argumentative essay, etc),
                      and of course be as specific as possible about your paper INSTRUCTIONS. </span>
              </div>

            </div>
            <div class="col-sm-4">
              <!-- Event -->
              <div class="margin-b-40">
                <h3 class="padding-b-10 margin-b-10 border-bottom">STEP <strong>TWO</strong></h3>
                <span class="margin-b-0">Once we receive your instructions, our professional writers will prepare <strong>for free</strong>:
a THESIS STATEMENT, a complete INTRODUCTION, and an OUTLINE – for papers larger than 5 pages
<strong>or</strong> a THESIS STATEMENT and an INTRODUCTION paragraph for papers smaller than 5 pages. <br><br><strong>Please note</strong>: we will send you the intro and outline within 12-24 hours after receiving your instructions for regular 3-5 day orders. As for urgent order due within 12-48 hours, we will respond ASAP to either confirm that the custom essay can be written or provide you with the essay intro and outline. </span>
              </div>

            </div>
            <div class="col-sm-4">
              <!-- Event -->
              <div class="margin-b-40">
                <h3 class="padding-b-10 margin-b-10 border-bottom">STEP <strong>THREE</strong></h3>
                <span class="margin-b-0">The remaining process is simple – if you do not like the quality of the introduction,
                  thesis statement, or outline you received, you pay nothing. If you <strong>like</strong> your introduction, thesis statement,
                  and outline, you pay for your custom essay by clicking ORDER NOW button on our website.
                  <strong>Finally</strong>, we adhere to the highest plagiarism free essay writing industry standards and provide MONEY BACK GUARANTEE on all our papers.
                  <br><br> If you are not satisfied with the custom essay or plagiarism free research paper you received and if there is nothing we can do to revise it, we will refund your money. </span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Section - Guarantees / End -->

  <%= render 'shared/footer' %>

</div>

<%= render 'shared/sidebar' %>

<%= render 'shared/order_form_modal' %>