<div id="page-wrapper" data-scroll-easing="easeOutBack">

  <section class="section section-double right fullheight bg-blue-navy dark" data-header-change="true">

    <div class="section-content container container-wide v-center">
      <h1>OwnEssays <strong>Privacy</strong> Statement</h1>

      <div>
        <div class="margin-b-10">
          <p>
            Here at OwnEssays (also we, our, us, OwnEssays.com), we respect your privacy. We take protecting your confidentiality seriously. This Privacy Statement describes our collection and use of information we collect through our website and service, www.ownessays.com. It also depicts the choices available to you regarding the use of your personal data and how you can change this information.
          </p>

          <p>
            <h4>Data We Collect</h4>
            We collect the following information: your name, your email, and your telephone. IMPORTANT: all of our payments are processed by 2Checkout.com – a leader in security business processing. We DO NOT have access to your credit card information and will never, under any circumstances, share the details available to OwnEssays (your name, email, and phone number) with any third party. OwnEssays does not store your credit card data.
          </p>

          <p>
            <h4>Purpose of the Information Being Collected</h4>
            The sole purpose of collecting your personal data (your name, your email, and phone) is to communicate with you and deliver the completed order to you. We require your name and email address to contact you should any questions arise pertaining to your order or should we need to communicate any information regarding your order with you.
          </p>

          <p>
          <h4>Do We Share your Data?</h4>
            The confidentiality and security of our clients are on top of our priority list. We guarantee complete privacy of your information. Your personal information will never be disclosed to anyone under any circumstances.
          </p>

          <p>
          <h4>Opt-Out instructions</h4>
            If you do not wish to share your name, email address, or phone with OwnEssays.com, you may do so, but you will not be able to place an order at OwnEssays.com as email is the primary and only method of delivering orders at our company. If you have any questions pertaining to your order or regarding this Privacy Statement, contact us at support@ownessays.com
          </p>
        </div>
      </div>
    </div>
  </section>

</div>