<div class="row section fullheight bg-blue-dark dark padding-v-100" style="min-height: 100%; min-height: 100vh; display: flex; align-items: center;">
  <div class="col-md-3 col-xs-12 col-md-offset-3">
    <h2>Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="actions padding-t-20">
          <%= f.submit "Resend confirmation instructions", class: "btn btn-orange btn-filled" %>
        </div>
    <% end %>

  </div>
  <div class="col-md-3 col-xs-12">
    <%= render "devise/shared/links" %>
  </div>
</div>
