/* -----------------------------------------------------------------------------
	OwnEssays - Roboto Font
------------------------------------------------------------------------------- */

body { font-family: 'Roboto',Helvetica,Arial,sans-serif; font-size: 13px; }
.font-roboto { font-family: 'Roboto',Helvetica,Arial,sans-serif; }
h1, h2, h3, h4, h5, h6, .btn, .nav { font-family: 'Roboto Condensed',Helvetica,Arial,sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
h1, h2, h3, h4 { font-weight: 300; }
h5, h6 { text-transform: uppercase; }
.btn, .nav { text-transform: uppercase; font-weight: 500; }