<div id="page-wrapper" data-scroll-easing="easeOutBack">

  <section id="section06" class="section section-double right fullheight bg-blue-navy dark" data-header-change="true">

    <div class="col-md-6 image">
      <div class="bg-image"><img src="/static/img/backgrounds/creative4.jpg" alt=""></div>
    </div>
    <div class="col-md-6 content margin-t-10">
      <h1>Thank <strong>you</strong> for your payment!</h1>

      <div class="carousel pagination-center" data-single-item="true" data-auto-play="12500">
        <div class="slide margin-b-10">
          <p class="lead">
            Your order is now being processed. Our customer relationships manager will get back to you soon.
          </p>
        </div>
      </div>
    </div>
  </section>

</div>