<div class="modal fade modal-blue-dark" id="contactModal" tabindex="-1" role="dialog">
  <button type="button" class="modal-close x-close" data-dismiss="modal"><span class="sr-only">Close</span></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-intro">
      <h1 class="margin-b-60">
        Please describe your <strong>question below</strong> and our managers will respond to you <strong>shortly</strong>.
      </h1>
    </div>
    <div class="modal-content">
      <div class="modal-body">
        <form id="contact-form">
          <div id="form-alert"></div>
          <div id="form-error" class="alert alert-danger">
            <ul></ul>
          </div>

          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <div class="row">
            <div class="col-md-6 form-group-mail">
              <label style="color: #fff;">Name:</label>
              <input id="name" class="form-control" type="text" name="name">
            </div>
            <div class="col-md-6 form-group-mail">
              <label style="color: #fff;">Addres e-mail:</label>
              <input id="email" class="form-control" type="text" name="email">
            </div>
          </div>
          <div class="form-group-mail margin-t-20">
            <label style="color: #fff;">Message:</label>
            <textarea id="message" class="form-control" name="message" rows="4"></textarea>
          </div>
          <div class="text-right margin-t-30">
            <button type="submit" class="btn btn-orange btn-filled"><span>Send a message!</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>