<div class="modal fade modal-blue-dark" id="essaySamples" tabindex="-1" role="dialog">
  <button type="button" class="modal-close x-close" data-dismiss="modal"><span class="sr-only">Close</span></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-intro">
      <h1 class="margin-b-60">
        <strong>Free essay</strong> samples.
      </h1>
    </div>
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="section-content container container-wide v-center dark">

            <p class="lead"><strong>We are 100% confident</strong> in the quality of the plagiarism free essays,
              research papers, article
              reviews, book reports, argumentative essays, and dissertations produced by our Native English Speaking
              Writers. Below you will find some useful resources aimed at both helping you improve your custom essay
              writing skills and illustrating the exceptional quality of plagiarism free essays and research papers
              written by our experts.</p>

            <style>
              .modal .links-block a {
                display: block;
                float: left;
                padding: 3px;
              }

              .modal .links-block a i.cloud-download {
                display: none;
              }

              .modal .links-block a:hover {
                text-decoration: none;
              }

              .modal .links-block a:hover i.cloud-download {
                display: inline;
              }
            </style>
            <p class="lead links-block">
              <a href="/static/samples/High_School_A_Dolls_House_Analysis_OwnEssays.pdf">
                <span class="label label-default">High School</span>
                &nbsp;A Dolls House Analysis <i class="fa fa-file-pdf-o"></i>
                <i class="fa fa-cloud-download cloud-download"></i></a>
              <a href="/static/samples/Masters_Barnes_and_Noble_Case_Study_Analysis_OwnEssays.pdf">
                <span class="label label-default">Master's</span>
                &nbsp;Barnes and Noble Case Study Analysis <i class="fa fa-file-pdf-o"></i>
                <i class="fa fa-cloud-download cloud-download"></i></a>
              <a href="/static/samples/Masters_Macroeconomics_Analysis_Business_Cycle.pdf">
                <span class="label label-default">Master's</span>
                Macroeconomics Analysis Business Cycle <i class="fa fa-file-pdf-o"></i>
                <i class="fa fa-cloud-download cloud-download"></i> </a>
              <a href="/static/samples/Masters_STATE_AND_EMPLOYMENT_RELATIONS_OwnEssays.pdf">
                <span class="label label-default">Master's</span>
                &nbsp;State And Employment Relations <i class="fa fa-file-pdf-o"></i>
                <i class="fa fa-cloud-download cloud-download"></i> </a>
              <a href="/static/samples/Research_Paper_APA_Style_Sample_OwnEssays.pdf">
                <span class="label label-default">Research Paper</span>
                &nbsp;APA Style Sample <i class="fa fa-file-pdf-o"></i>
                <i class="fa fa-cloud-download cloud-download"></i></a>
              <a href="/static/samples/Undergraduate_Case_study_on_Social_Organization_OwnEssays.pdf">
                <span class="label label-default">Undergraduate</span>
                &nbsp;Case study on Social Organization <i class="fa fa-file-pdf-o"></i>
                <i class="fa fa-cloud-download cloud-download"></i>
              </a>
              <a href="/static/samples/Undergraduate_Haitian_Revolution_and_the_French_Revolution_Comparison_OwnEssays.pdf">
                <span class="label label-default">Undergraduate</span>
                &nbsp;Haitian and the French Revolution Comparison <i class="fa fa-file-pdf-o"></i>
                <i class="fa fa-cloud-download cloud-download"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>