<footer id="footer" class="bg-blue-dark padding-v-40 dark text-center">
    <div class="section-content copyright margin-b-20">
        Copyright <strong>OwnEssays.com</strong> 2020 ©. Made with love by
        <a href="https://phar.kiev.ua"><strong>phar:media</strong></a>
    </div>
    <span data-target="local-scroll">
      <a href="#section01" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </span>
</footer>