<!-- Header -->
<header id="header" class="header-horizontal dark">

  <!-- Logo -->
  <a href="/" class="logo pull-left margin-r-20">

    <svg width="150px" version="1.1" id="OWN_ESSAYS_LOGO" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 7086.6 1417.3" enable-background="new 0 0 7086.6 1417.3" xml:space="preserve">
      <path fill="#FFFFFF" d="M317.3,1417.3v-80.8h5257.8v80.8H317.3z"/>
      <g>
        <path fill="#FFFFFF" d="M1045.2,1040.4c-81.9,80-182.7,120-302.5,120s-220.6-40-302.5-120S317.3,861,317.3,742
		s40.9-218.5,122.8-298.4s182.7-120,302.5-120s220.6,40,302.5,120S1168,623,1168,742S1127.1,960.5,1045.2,1040.4z M983.7,742.6
		c0-72.2-23.2-133.9-69.5-184.9s-103.3-76.5-171-76.5s-124.6,25.5-171,76.5s-69.5,112.6-69.5,184.9s23.2,133.7,69.5,184.3
		s103.3,75.9,171,75.9s124.6-25.3,171-75.9S983.7,814.8,983.7,742.6z"/>
        <path fill="#FFFFFF" d="M1627.8,1152.3h-179.7L1236,528.7h179.7l121.7,376.7l121.7-376.7h168l121.7,376.7l121.7-376.7h180.8
		l-212.1,623.5h-180.8l-114.8-339.6L1627.8,1152.3z"/>
        <path fill="#FFFFFF" d="M2522.1,804.6v347.7h-173.9V528.7h173.9v69.5c52.5-53.3,111.6-80,177.3-80s120.7,23.2,165.2,69.5
		c44.4,46.4,66.6,108.2,66.6,185.4v379h-173.8V799.9c0-95.8-35.2-143.7-105.5-143.7c-34.8,0-65.1,12.6-91,37.7
		C2535.1,719,2522.1,755.9,2522.1,804.6z"/>
        <path fill="#FFFFFF" d="M3690.1,342.1v161.1h-403.3v166.9h362.8v154.1h-362.8v168.1h416.1v159.9H3106V342.1H3690.1z"/>
        <path fill="#FFFFFF" d="M4309.9,958.2c0,61.4-22.6,110.7-67.8,147.8s-102.6,55.6-172.1,55.6c-46.4,0-94.7-8.3-144.9-24.9
		s-95.4-41.1-135.6-73.6l76.5-108.9c64.9,50.2,134.1,75.3,207.5,75.3c22.4,0,40.2-4.4,53.3-13.3s19.7-20.7,19.7-35.3
		c0-14.7-9.1-28.2-27.2-40.6c-18.2-12.4-44.4-24-78.8-34.8c-34.4-10.8-60.7-20.1-78.8-27.8s-38.8-18.9-62-33.6
		c-47.1-29.4-70.7-72.8-70.7-130.4s23.2-104.5,69.5-140.8s106.2-54.5,179.6-54.5c73.4,0,146.8,24.7,220.2,74.2l-64.9,115.9
		c-54.1-37.1-108-55.6-161.7-55.6c-53.7,0-80.5,14.7-80.5,44c0,16.2,8.5,29,25.5,38.2c17,9.3,45.2,20.1,84.6,32.5
		c39.4,12.4,67.4,21.8,84,28.4c16.6,6.6,36.5,16.8,59.7,30.7C4288.3,852.9,4309.9,896.7,4309.9,958.2z"/>
        <path fill="#FFFFFF" d="M4912.4,958.2c0,61.4-22.6,110.7-67.8,147.8s-102.6,55.6-172.1,55.6c-46.4,0-94.7-8.3-144.9-24.9
		s-95.4-41.1-135.6-73.6l76.5-108.9c64.9,50.2,134.1,75.3,207.5,75.3c22.4,0,40.2-4.4,53.3-13.3s19.7-20.7,19.7-35.3
		c0-14.7-9.1-28.2-27.2-40.6c-18.2-12.4-44.4-24-78.8-34.8c-34.4-10.8-60.7-20.1-78.8-27.8s-38.8-18.9-62-33.6
		c-47.1-29.4-70.7-72.8-70.7-130.4s23.2-104.5,69.5-140.8s106.2-54.5,179.6-54.5c73.4,0,146.8,24.7,220.2,74.2l-64.9,115.9
		c-54.1-37.1-108-55.6-161.7-55.6s-80.5,14.7-80.5,44c0,16.2,8.5,29,25.5,38.2c17,9.3,45.2,20.1,84.6,32.5
		c39.4,12.4,67.4,21.8,84,28.4c16.6,6.6,36.5,16.8,59.7,30.7C4890.7,852.9,4912.4,896.7,4912.4,958.2z"/>
        <path fill="#FFFFFF" d="M5575.1,1152.3h-163.4V1077c-44.8,56.4-100.2,84.6-166.3,84.6s-121.5-19.1-166.3-57.4s-67.2-89.2-67.2-153
		s23.2-111.5,69.5-143.1c46.4-31.7,109.7-47.5,190.1-47.5h129.8v-3.5c0-66.4-35.2-99.7-105.5-99.7c-30.1,0-62,6-95.6,18
		c-33.6,12-62,26.8-85.2,44.6l-77.7-112.4c81.9-59.5,175.4-89.2,280.5-89.2c75.7,0,137.5,18.9,185.4,56.8
		c47.9,37.9,71.9,97.7,71.9,179.6V1152.3L5575.1,1152.3z M5400,914.7v-30.1h-108.9c-69.5,0-104.3,21.6-104.3,64.9
		c0,22.4,8.3,39.6,24.9,51.6c16.6,12,40.4,18,71.3,18c30.9,0,58.1-9.5,81.7-28.4C5388.3,971.8,5400,946.4,5400,914.7z"/>
        <path fill="#FFFFFF" d="M5833.3,1398c-61,0-118.6-24.7-172.7-74.2l78.8-128.6c29.3,28.6,59.5,42.9,90.4,42.9
		c16.2,0,30.1-7.9,41.7-23.8c11.6-15.9,17.4-32.7,17.4-50.4s-80.4-229.5-241.1-635.1h185.4L5985.1,917l151.8-388.3h185.4
		l-289.8,734.8c-17,42.5-43.5,75.5-79.4,99.1C5917.3,1386.2,5877.3,1398,5833.3,1398z"/>
        <path fill="#FFFFFF" d="M6866.9,958.2c0,61.4-22.6,110.7-67.8,147.8s-102.6,55.6-172.1,55.6c-46.4,0-94.7-8.3-144.9-24.9
		s-95.4-41.1-135.6-73.6l76.5-108.9c64.9,50.2,134.1,75.3,207.5,75.3c22.4,0,40.2-4.4,53.3-13.3s19.7-20.7,19.7-35.3
		c0-14.7-9.1-28.2-27.2-40.6c-18.2-12.4-44.4-24-78.8-34.8c-34.4-10.8-60.7-20.1-78.8-27.8s-38.8-18.9-62-33.6
		c-47.1-29.4-70.7-72.8-70.7-130.4s23.2-104.5,69.5-140.8s106.2-54.5,179.6-54.5c73.4,0,146.8,24.7,220.2,74.2l-64.9,115.9
		c-54.1-37.1-108-55.6-161.7-55.6s-80.5,14.7-80.5,44c0,16.2,8.5,29,25.5,38.2c17,9.3,45.2,20.1,84.6,32.5
		c39.4,12.4,67.4,21.8,84,28.4c16.6,6.6,36.5,16.8,59.7,30.7C6845.2,852.9,6866.9,896.7,6866.9,958.2z"/>
      </g>
      <path fill="#FFFFFF" d="M6080,1417.3v-80.8h786.9v80.8H6080z"/>
    </svg>

  </a>

  <!-- Navigation -->
  <nav id="main-menu">
    <ul class="nav nav-main pull-left">
      <li class="has-megamenu">
        <a href="/#section01">
          <span>Home</span>
        </a>
        <!-- Megamenu -->
        <div class="megamenu bg-white light padding-15">
          <!-- Carousel -->
          <div class="carousel pagination-center" data-items="3" data-auto-play="2500">
            <!-- Slide -->
            <div class="slide padding-15">
              <div class="gallery-item">
                <div class="item-photo"><img src="/static/img/photos/version-creative.jpg" alt=""/></div>
                <a href="/">
                  <div class="item-hover bg-dark dark">
                    <div class="item-hover-content">
                      <h3 class="margin-b-0">Home</h3>

                      <div class="margin-b-10 text-muted text-sm">Own_Essays</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- Slide -->
            <div class="slide padding-15">
              <div class="gallery-item">
                <div class="item-photo"><img src="/static/img/photos/version-app.jpg" alt=""/></div>
                <a href="/#section06">
                  <div class="item-hover bg-dark dark">
                    <div class="item-hover-content">
                      <h3 class="margin-b-0">About us</h3>

                      <div class="margin-b-10 text-muted text-sm">Who we are</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- Slide -->
            <div class="slide padding-15">
              <div class="gallery-item">
                <div class="item-photo"><img src="/static/img/photos/version-classic.jpg" alt=""/></div>
                <a href="/#section04">
                  <div class="item-hover bg-dark dark">
                    <div class="item-hover-content">
                      <h3 class="margin-b-0">Why choose us</h3>

                      <div class="margin-b-10 text-muted text-sm">Why Choose OwnEssays?</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- Slide -->
            <div class="slide padding-15">
              <div class="gallery-item">
                <div class="item-photo"><img src="/static/img/photos/version-personal.jpg" alt=""/></div>
                <a href="/#section03">
                  <div class="item-hover bg-dark dark">
                    <div class="item-hover-content">
                      <h3 class="margin-b-0">Benefits</h3>

                      <div class="margin-b-10 text-muted text-sm">Welcome to OwnEssays.com</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- Slide -->
            <div class="slide padding-15">
              <div class="gallery-item">
                <div class="item-photo"><img src="/static/img/photos/version-blog.jpg" alt=""/></div>
                <a href="/#section02">
                  <div class="item-hover bg-dark dark">
                    <div class="item-hover-content">
                      <h3 class="margin-b-0">FAQ</h3>

                      <div class="margin-b-10 text-muted text-sm">Our clients frequently ask</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- Slide -->
            <div class="slide padding-15">
              <div class="gallery-item">
                <div class="item-photo"><img src="/static/img/photos/version-portfolio.jpg" alt=""/>
                </div>
                <a href="/#section08">
                  <div class="item-hover bg-dark dark">
                    <div class="item-hover-content">
                      <h3 class="margin-b-0">Our writers</h3>

                      <div class="margin-b-10 text-muted text-sm">Meet our writers</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- Slide -->
            <div class="slide padding-15">
              <div class="gallery-item">
                <div class="item-photo"><img src="/static/img/photos/team.jpg" alt=""/>
                </div>
                <a href="/#section07">
                  <div class="item-hover bg-dark dark">
                    <div class="item-hover-content">
                      <h3 class="margin-b-0">Blog</h3>

                      <div class="margin-b-10 text-muted text-sm">Our blog</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- Slide -->
            <div class="slide padding-15">
              <div class="gallery-item">
                <div class="item-photo"><img src="/static/img/photos/blog.jpg" alt=""/></div>
                <a href="/#section05">
                  <div class="item-hover bg-dark dark">
                    <div class="item-hover-content">
                      <h3 class="margin-b-0">Testimonials</h3>

                      <div class="margin-b-10 text-muted text-sm">What our clients say about us?</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- Slide -->
            <div class="slide padding-15">
              <div class="gallery-item">
                <div class="item-photo"><img src="/static/img/photos/contact.jpg" alt=""/>
                </div>
                <a href="/#section09">
                  <div class="item-hover bg-dark dark">
                    <div class="item-hover-content">
                      <h3 class="margin-b-0">Contact us</h3>

                      <div class="margin-b-10 text-muted text-sm">Get in touch with Us</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- Slide end -->
          </div>
        </div>
      </li>

      <li>
        <a href="/#section06"><span>About us</span></a>
      </li>

      <li>
        <a href="/#section04"><span>Why choose us</span></a>
      </li>

      <li>
        <a href="/#section-prices"><span>Prices</span></a>
      </li>

      <li>
        <a href="/#section-guarantees"><span>Guarantees</span></a>
      </li>

      <li>
        <a href="/#section02"><span>FAQ</span></a>
      </li>

      <li>
        <a href="/#section08"><span>Writers</span></a>
      </li>

      <li>
        <a href="/blog"><span>Blog</span></a>
      </li>
      <li>
        <a href="/#section05"><span>Testimonials</span></a>
      </li>

      <li>
        <a href="/#section09"><span>Contact</span></a>
      </li>      
    </ul>
  </nav>

  <!-- Menu Trigger -->
  <a href="#" class="pull-right margin-l-20" data-target="mobile-nav"><i class="fa fa-graduation-cap"></i></a>


  <span class="pull-right margin-b-0" data-toggle="modal" data-target="#orderNow">
    <a href="#" class="btn btn-xs btn-default"><span>ORDER NOW</span></a>
  </span>

  <!-- Social Icons -->
  <!--<ul class="social-icons pull-right margin-b-0 hidden-xs">
    <li><a href="#" class="icon icon-xs"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" class="icon icon-xs"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#" class="icon icon-xs"><i class="fa fa-google-plus"></i></a></li>
  </ul>-->

</header>
<!-- Header / End -->