<div class="modal fade modal-blue-dark" id="howItWorksModal" tabindex="-1" role="dialog">
  <button type="button" class="modal-close x-close" data-dismiss="modal"><span
    class="sr-only">Close</span></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-body">
      <iframe width="720" height="405" src="https://www.youtube.com/embed/PLSS6JktmrY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>