<div class="modal fade modal-blue-dark" id="mapModal" tabindex="-1" role="dialog">
  <button type="button" class="modal-close x-close" data-dismiss="modal"><span class="sr-only">Close</span></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-intro">
      <h1 class="margin-b-60">You can meet Us here</h1>
    </div>
    <div class="modal-content">
      <div class="modal-body">
        <!-- Change "data-latitude" & "data-longitude" attributes to your locations - use site like http://itouchmap.com/latlong.html -->
        <div id="google-map" class="h-400" data-latitude="32.8037518" data-longitude="-96.8177043"></div>
      </div>
    </div>
  </div>
</div>