<div class="modal fade modal-blue-dark" id="orderNow" tabindex="-1" role="dialog">
  <button type="button" class="modal-close x-close" data-dismiss="modal"><span class="sr-only">Close</span></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" id="order-form">
      <div class="modal-body">

        <div class="wizard" data-initialize="wizard" id="orderWizard">
          <div class="steps-container">
            <ul class="steps">
              <li data-step="1" data-name="campaign" class="active">
                <span class="badge">1</span>Paper Details
                <span class="chevron"></span>
              </li>
              <li data-step="2">
                <span class="badge">2</span>Price Calculation
                <span class="chevron"></span>
              </li>
              <li data-step="3" data-name="template">
                <span class="badge">3</span>Personal Info
                <span class="chevron"></span>
              </li>
              <li data-step="4" data-name="checkout">
                <span class="badge">4</span>Checkout
                <span class="chevron"></span>
              </li>
            </ul>
          </div>

          <div class="actions">
            <!--<span style="font-weight: 900; color: #666;"><i class="fa fa-check">&nbsp;</i></span>-->
          </div>

          <div class="step-content">
            <div class="step-pane active sample-pane" data-step="1">

              <div class="form-alert"></div>
              <div class="form-error alert alert-danger">
                <ul></ul>
              </div>

              <form autocomplete="off" enctype="multipart/form-data" id="orderFormFirstStep" name="orderFormFirstStep" role="form">
                <div class="form-group">

                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name"
                           data-container="body" data-trigger="hover"
                           data-toggle="popover" data-placement="right"
                           data-content="Level that corresponds to your year/program of study.">
                      Academic level <i class="fa fa-info-circle"></i>
                    </label>
                  </div>

                  <div class="col-sm-9 input-custom --hidden-xs">
                    <input class="academic-checkbox" name="academicLevel"
                           value="High School"
                           id="academic-level-checkbox-high-school" type="radio" selected="selected" checked="checked">
                    <label class="academic-label active" for="academic-level-checkbox-high-school">
                      High School
                    </label>
                    <input class="academic-checkbox" name="academicLevel"
                           value="Undergraduate"
                           id="academic-level-checkbox-college" type="radio">
                    <label class="academic-label" for="academic-level-checkbox-college">
                      Undergraduate
                    </label>
                    <input class="academic-checkbox" name="academicLevel"
                           value="Masters"
                           id="academic-level-checkbox-masters" type="radio">
                    <label class="academic-label" for="academic-level-checkbox-masters">
                      Master's
                    </label>
                    <input class="academic-checkbox" name="academicLevel"
                           value="PhD"
                           id="academic-level-checkbox-phd" type="radio">
                    <label class="academic-label" for="academic-level-checkbox-phd">
                      PhD
                    </label>
                    <input class="academic-checkbox" name="academicLevel"
                           value="Econ/Math"
                           id="academic-level-checkbox-specialized" type="radio">
                    <label class="academic-label" for="academic-level-checkbox-specialized">
                      Finance/Econ
                    </label>
                  </div>

                </div>

                <div class="form-group">
                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name"
                           data-container="body" data-trigger="hover"
                           data-toggle="popover" data-placement="right"
                           data-content='If you are not sure what type of paper corresponds to your needs, choose ‘Other’.'>
                      Type of paper <i class="fa fa-info-circle"></i>
                    </label>
                  </div>

                  <div class="col-sm-9 input-custom">

                    <select name="typeOfPaper" class="form-control custom-dropdown selectpicker" required data-live-search="true">
                      <option class="" disabled value="-1">
                        Please select
                      </option>
                      <option label="Essay (any type)" selected value="0">
                        Essay (any type)
                      </option>
                      <option label="Admission essay" value="1">
                        Admission essay
                      </option>
                      <option label="Annotated bibliography" value="2">
                        Annotated bibliography
                      </option>
                      <option label="Argumentative essay" value="3">
                        Argumentative essay
                      </option>
                      <option label="Article review" value="4">
                        Article review
                      </option>
                      <option label="Book/movie review" value="6">
                        Book/movie review
                      </option>
                      <option label="Business plan" value="7">
                        Business plan
                      </option>
                      <option label="Capstone project" value="8">
                        Capstone project
                      </option>
                      <option label="Case study" value="9">
                        Case study
                      </option>
                      <option label="Coursework" value="10">
                        Coursework
                      </option>
                      <option label="Creative writing" value="11">
                        Creative writing
                      </option>
                      <option label="Editing" value="20">
                        Editing
                      </option>
                      <option label="Presentation" value="23">
                        Presentation
                      </option>
                      <option label="Presentation with Spkr Notes" value="24">
                        Presentation with Spkr Notes
                      </option>
                      <option label="Research paper" value="25">
                        Research paper
                      </option>
                      <option label="Research proposal" value="26">
                        Research proposal
                      </option>
                      <option label="Term paper" value="27">
                        Term paper
                      </option>
                      <option label="Other" value="22">
                        Other
                      </option>

                    </select>

                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="form-group">
                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name">
                      Subject:
                    </label>
                  </div>

                  <div class="col-sm-9 input-custom -wrap">

                    <select name="subject" class="form-control custom-dropdown selectpicker" data-live-search="true">
                      <option class="" disabled selected value="">
                        Please select
                      </option>
                      <option label="Accounting" value="0">
                        Accounting
                      </option>
                      <option label="Anthropology" value="2">
                        Anthropology
                      </option>
                      <option label="Application Letters" value="3">
                        Application Letters
                      </option>
                      <option label="Architecture, Building and Planning" value="4">
                        Architecture, Building and Planning
                      </option>
                      <option label="Art (Fine arts, Performing arts)" value="5">
                        Art (Fine arts, Performing arts)
                      </option>
                      <option label="Aviation" value="7">
                        Aviation
                      </option>
                      <option label="Biology (and other Life Sciences)" value="8">
                        Biology (and other Life Sciences)
                      </option>
                      <option label="Business Studies" value="9">
                        Business Studies
                      </option>
                      <option label="Chemistry" value="10">
                        Chemistry
                      </option>
                      <option label="Civil Engineering" value="11">
                        Civil Engineering
                      </option>
                      <option label="Classic English Literature" value="12">
                        Classic English Literature
                      </option>
                      <option label="Communications" value="13">
                        Communications
                      </option>
                      <option label="Composition" value="14">
                        Composition
                      </option>
                      <option label="Computer science" value="15">
                        Computer science
                      </option>
                      <option label="Criminal Justice" value="16">
                        Criminal Justice
                      </option>
                      <option label="Criminal law" value="17">
                        Criminal law
                      </option>
                      <option label="Cultural and Ethnic Studies" value="18">
                        Cultural and Ethnic Studies
                      </option>
                      <option label="Ecology" value="19">
                        Ecology
                      </option>
                      <option label="Economics" value="20">
                        Economics
                      </option>
                      <option label="Education" value="21">
                        Education
                      </option>
                      <option label="Engineering" value="22">
                        Engineering
                      </option>
                      <option label="English 101" value="23">
                        English 101
                      </option>
                      <option label="Environmental studies and Forestry" value="24">
                        Environmental studies and Forestry
                      </option>
                      <option label="Ethics" value="25">
                        Ethics
                      </option>
                      <option label="Family and consumer science" value="26">
                        Family and consumer science
                      </option>
                      <option label="Film &amp; Theater studies" value="27">
                        Film &amp; Theater studies
                      </option>
                      <option label="Finance" value="28">
                        Finance
                      </option>
                      <option label="Geography" value="29">
                        Geography
                      </option>
                      <option label="Health Care" value="31">
                        Health Care
                      </option>
                      <option label="History" value="32">
                        History
                      </option>
                      <option label="Human Resources Management (HRM)" value="33">
                        Human Resources Management (HRM)
                      </option>
                      <option label="International Relations" value="34">
                        International Relations
                      </option>
                      <option label="International Trade" value="35">
                        International Trade
                      </option>
                      <option label="IT, Web" value="36">
                        IT, Web
                      </option>
                      <option label="Law" value="37">
                        Law
                      </option>
                      <option label="Leadership Studies" value="38">
                        Leadership Studies
                      </option>
                      <option label="Linguistics" value="39">
                        Linguistics
                      </option>
                      <option label="Literature" value="40">
                        Literature
                      </option>
                      <option label="Logistics" value="41">
                        Logistics
                      </option>
                      <option label="Management" value="42">
                        Management
                      </option>
                      <option label="Marketing" value="43">
                        Marketing
                      </option>
                      <option label="Mathematics" value="44">
                        Mathematics
                      </option>
                      <option label="Medical Sciences (Anatomy, Physiology, Pharmacology etc.)" value="45">
                        Medical Sciences (Anatomy, Physiology, Pharmacology etc.)
                      </option>
                      <option label="Medicine" value="46">
                        Medicine
                      </option>
                      <option label="Music" value="47">
                        Music
                      </option>
                      <option label="Nursing" value="48">
                        Nursing
                      </option>
                      <option label="Nutrition/Dietary" value="49">
                        Nutrition/Dietary
                      </option>
                      <option label="Philosophy" value="51">
                        Philosophy
                      </option>
                      <option label="Physics" value="52">
                        Physics
                      </option>
                      <option label="Poetry" value="53">
                        Poetry
                      </option>
                      <option label="Political science" value="54">
                        Political science
                      </option>
                      <option label="Psychology" value="55">
                        Psychology
                      </option>
                      <option label="Public Administration" value="56">
                        Public Administration
                      </option>
                      <option label="Public Relations (PR)" value="57">
                        Public Relations (PR)
                      </option>
                      <option label="Religious studies" value="58">
                        Religious studies
                      </option>
                      <option label="Shakespeare" value="59">
                        Shakespeare
                      </option>
                      <option label="Social Work and Human Services" value="60">
                        Social Work and Human Services
                      </option>
                      <option label="Sociology" value="61">
                        Sociology
                      </option>
                      <option label="Sports" value="62">
                        Sports
                      </option>
                      <option label="Statistics" value="63">
                        Statistics
                      </option>
                      <option label="Technology" value="64">
                        Technology
                      </option>
                      <option label="Tourism" value="65">
                        Tourism
                      </option>
                      <option label="Urban Studies" value="66">
                        Urban Studies
                      </option>
                      <option label="Women's &amp; gender studies" value="67">
                        Women's &amp; gender studies
                      </option>
                      <option label="Other" value="50">
                        Other
                      </option>
                    </select>

                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name">
                      Paper title:
                    </label>
                  </div>
                  <div class="col-sm-9 input-custom">
                    <input class="form-control" name="topic" maxlength="250" name="topic" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name"
                           data-container="body" data-trigger="hover"
                           data-toggle="popover" data-placement="right"
                           data-content='Please provide clear and detailed instructions here or you can upload your syllabus below.'>
                      Paper instructions <i class="fa fa-info-circle"></i>
                    </label>
                  </div>
                  <div class="col-sm-9 input-custom">

<textarea class="form-control text-area" maxlength="10000" placeholder="No specific"
          rows="9" name="instructions" type="textarea">
</textarea>

                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name">
                      Sources:
                    </label>
                  </div>
                  <div class="col-sm-9 input-custom">
                    <div class="input-group">
                      <div class="source-wrapper">

                        <div class="spinbox" data-initialize="spinbox" id="srcQuantity">
                          <button type="button" class="btn btn-default spinbox-up btn-xs">
                            <span class="glyphicon glyphicon-plus"></span><span class="sr-only"></span>
                          </button>

                          <input id="quantity" type="text" class="form-control input-mini spinbox-input" name="quantity">

                          <button type="button" class="btn btn-default spinbox-down btn-xs">
                            <span class="glyphicon glyphicon-minus"></span><span class="sr-only"></span>
                          </button>
                        </div>


                        <div class="source-additional-text">
                          Please specify the number of sources to be used, if required.
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name paper-format">
                      Paper format:
                    </label>
                  </div>

                  <div class="col-sm-9 input-custom --hidden-xs paper-format">
                    <input class="shadow-checkbox" id="mla-input" name="paperFormat" type="radio" selected="selected" checked="checked" value="MLA">

                    <label class="shadow-label-paper-format active" for="mla-input">
                      MLA
                    </label>

                    <input class="shadow-checkbox" id="apa-input" name="paperFormat" type="radio" value="APA">

                    <label class="shadow-label-paper-format" for="apa-input">
                      APA
                    </label>

                    <input class="shadow-checkbox" id="chicago-input" name="paperFormat" type="radio" value="Chicago">

                    <label class="shadow-label-paper-format" for="chicago-input">
                      Chicago
                    </label>


                    <input class="shadow-checkbox" id="turabian-input" name="paperFormat" type="radio" value="Turabian">

                    <label class="shadow-label-paper-format" for="turabian-input">
                      Turabian
                    </label>

                    <input class="shadow-checkbox" id="ieee-input" name="paperFormat" type="radio" value="IEEE">

                    <label class="shadow-label-paper-format" for="ieee-input">
                      IEEE
                    </label>

                    <input class="shadow-checkbox" id="o-pf-input" name="paperFormat" type="radio" value="Other">

                    <label class="shadow-label-paper-format" for="o-pf-input">
                      Other
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name"
                           data-container="body" data-trigger="hover"
                           data-toggle="popover" data-placement="right"
                           data-content='You may upload your syllabus and/or any additional info you deem appropriate.'>
                      Additional <br>materials <i class="fa fa-info-circle"></i>
                    </label>
                  </div>
                  <div class="col-sm-9 input-custom">
                    <div style="max-width: 160px;">
                      <input class="input-custom hide -wrong-size" id="file" name="file" type="file" accept="application/msword,application/pdf,.doc,.docx,.pdf,.jpg,.jpeg,.png">
                      <label class="file-upload-label" for="file">
                        Select file
                      </label>
                    &nbsp;<i class="fa fa-check-circle-o fa-2x hidden file-choose-mark" style="display: block; float: right;"></i><i class="fa fa-exclamation-circle fa-2x hidden file-choose-mark-error" style="display: block; float: right;"></i></div>
                    <input type="hidden" name="upload_id" id="upload_id" value="">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn custom-button pull-right next-prev to-step-two" type="button" onclick="OwnEssays.Wizard.next('orderFormFirstStep');" style="margin-top: -50px;">
                      <span class="--hidden-xs">Proceed to</span>
<span class="step-name">
Price Calculation
</span> &nbsp;&nbsp;
<span class="custom-arrow">
→
</span>
                    </button>
                  </div>
                </div>
              </form>

            </div>

            <div class="step-pane sample-pane" data-step="2">


              <form class="form-horizontal" role="form" name="orderFormSecondStep" id="orderFormSecondStep">

                <div class="form-alert"></div>
                <div class="form-error alert alert-danger">
                  <ul></ul>
                </div>

                <div class="form-group">
                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name"
                           style="text-align: left"
                           data-container="body" data-trigger="hover"
                           data-toggle="popover" data-placement="right"
                           data-content='BONUS - you get Title page and Bibliography for FREE'>
                      Number of pages or slides <i class="fa fa-info-circle"></i></label>
                  </div>

                  <div class="col-sm-9 input-custom">
                    <div class="input-group input-group-source" style="width: 100%">
                      <div class="source-wrapper">

                        <div class="spinbox" data-initialize="spinbox" id="pageQuantity">
                          <button type="button" class="btn btn-default spinbox-up btn-xs">
                            <span class="glyphicon glyphicon-plus"></span><span class="sr-only"></span>
                          </button>

                          <input type="text" class="form-control input-mini spinbox-input"
                                 name="pageQuantity" value="1" min="1" max="999">

                          <button type="button" class="btn btn-default spinbox-down btn-xs">
                            <span class="glyphicon glyphicon-minus"></span><span class="sr-only"></span>
                          </button>
                        </div>

                        <div class="source-additional-text" style="line-height: 38px;">
                          285 words per page.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group final-deadline">
                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name"
                           data-container="body" data-trigger="hover"
                           data-toggle="popover" data-placement="right"
                           data-content='Please allow at least 24 hours for topics requiring extensive research.'>
                      Delivery date <i class="fa fa-info-circle"></i></label>
                  </div>

                  <div class="col-sm-9 input-custom deadline">
                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-9-h" data-ts="32400" value="9 hours">
                    <label class="radio-inline shadow-label-deadline" for="deadline-9-h">9 hrs</label>
                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-12-h" data-ts="43200" value="12 hours">
                    <label class="radio-inline shadow-label-deadline" for="deadline-12-h">12 hrs</label>
                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-24-h" data-ts="86400" value="24 hours">
                    <label class="radio-inline shadow-label-deadline" for="deadline-24-h">24 hrs</label>
                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-48-h" data-ts="172800" value="48 hours">
                    <label class="radio-inline shadow-label-deadline" for="deadline-48-h">48 hrs</label>
                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-3-d" data-ts="259200" value="3 days">
                    <label class="radio-inline shadow-label-deadline" for="deadline-3-d">3 days</label>
                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-4-d" data-ts="345600" value="4 days">
                    <label class="radio-inline shadow-label-deadline" for="deadline-4-d">4 days</label>
                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-5-d" selected="selected" checked="checked" data-ts="432000" value="5 days">
                    <label class="radio-inline shadow-label-deadline active" for="deadline-5-d">5 days</label>

                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-7-d" data-ts=="604800" value="7 days">
                    <label class="radio-inline shadow-label-deadline hidden" for="deadline-7-d">7 days</label>
                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-14-d" data-ts=="1209600" value="14 days">
                    <label class="radio-inline shadow-label-deadline hidden" for="deadline-14-d">14 days</label>
                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-21-d" data-ts=="1814400" value="21 days">
                    <label class="radio-inline shadow-label-deadline hidden" for="deadline-21-d">21 day</label>
                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-30-d" data-ts=="2592000" value="30 days">
                    <label class="radio-inline shadow-label-deadline hidden" for="deadline-30-d">30 days</label>
                    <input type="radio" name="deadline" class="shadow-checkbox" id="deadline-45-d" data-ts=="3888000" value="45 days">
                    <label class="radio-inline shadow-label-deadline hidden" for="deadline-45-d">45 days</label>

                    <div>
                        <span class="text-under-input">
                            We estimate your delivery date to be
                            <span class="date-color" style="color:green; font-weight: bold;"><%= 5.days.from_now %></span>
                        </span>
                    </div>

                  </div>

                  <div class="clearfix"></div>
                </div>

                <div class="form-group">

                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name">Writer category:</label>
                  </div>

                  <div class="col-sm-9 input-custom --hidden-xs">
                    <div class="writer-wrapper">
                      <input type="radio" name="writerCategory" value="Best available" class="shadow-checkbox" id="best-writer"
                             selected="selected" checked="checked">
                      <label class="radio-inline shadow-label-writer active" for="best-writer"
                             data-container="body" data-trigger="hover"
                             data-toggle="popover" data-placement="bottom"
                             data-content='All our writers are native English speaking professionals, with Master’s degree of higher'>
                        Most suitable
                      </label>

                      <input type="radio" name="writerCategory" value="Advanced" class="shadow-checkbox" id="advanced-writer">
                      <label class="radio-inline shadow-label-writer" for="advanced-writer"
                             data-container="body" data-trigger="hover"
                             data-toggle="popover" data-placement="bottom"
                             data-content='Recommended for Master and PhD level orders'>
                        Advanced</label>

                      <input type="radio" name="writerCategory" value="Preferred" class="shadow-checkbox" id="preferred-writer">
                      <label class="radio-inline shadow-label-writer" for="preferred-writer"
                             data-container="body" data-trigger="hover"
                             data-toggle="popover" data-placement="bottom"
                             data-content='One of our Top Writers will be assigned to complete your assignment'>
                        Choose your writer</label>

                      <div class="clearfix"></div>
                    </div>

                  </div>

                  <div class="clearfix"></div>
                </div>

                <div class="form-group hidden">
                  <div class="col-sm-3 label-custom ">
                    <label class="control-label label-custom-name"
                           data-container="body" data-trigger="hover"
                           data-toggle="popover" data-placement="right"
                           data-content='Choose this option if required by your professor (+ USD 6 per page)'>Power Point slides
                      <i class="fa fa-info-circle"></i>
                    </label>
                  </div>
                  <div class="col-sm-9 input-custom ">
                    <div class="input-group" style="width: 100%">
                      <div class="source-wrapper">

                        <div class="spinbox" data-initialize="spinbox" id="SourceQuantity">
                          <button type="button" class="btn btn-default spinbox-up btn-xs">
                            <span class="glyphicon glyphicon-plus"></span><span class="sr-only"></span>
                          </button>

                          <input type="text" class="form-control input-mini spinbox-input" name="slideQuantity">

                          <button type="button" class="btn btn-default spinbox-down btn-xs">
                            <span class="glyphicon glyphicon-minus"></span><span class="sr-only"></span>
                          </button>
                        </div>

                        <div class="source-additional-text" style="line-height: 38px; ">
                          You need to order at least 1 page or 1 slide.
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-3 label-custom">
                    <label class="control-label label-custom-name">
                      Additional services:</label>

                  </div>
                  <div class="col-sm-9 input-custom">
                    <div class="input-group additional-service-wrap pull-left">
                      <!--
                      <input type="checkbox" name="plagiarismReport">

                      <label for="plagiarismReport" class="additional-service-label-wrapper"
                             data-container="body" data-trigger="hover"
                             data-toggle="popover" data-placement="top"
                             data-content='Want to be sure that
                    your paper is plagiarism
                    free? Choose this feature
                    and receive an official
                    plagiarism report with
                    the final paper.'>

                        <div class="additional-service-wrapper">
                          <div class="info-wrapper">
                            <div>Plagiarism report <strong>9.99</strong></div>
                          </div>
                        </div>
                      </label>
                      -->

                      <input type="checkbox" id="abstractPage" name="abstractPage" value="Abstract">

                      <label for="abstractPage" class="additional-service-label-wrapper"
                             data-container="body" data-trigger="hover"
                             data-toggle="popover" data-placement="top"
                             data-content='A concise summary of the key points of your research.'>

                        <div class="additional-service-wrapper">
                          <div class="info-wrapper">
                            <div>Abstract <strong>11.99</strong></div>
                          </div>
                        </div>
                      </label>

                      <input type="checkbox" id="vipSupport" name="vipSupport" value="VIP Support">

                      <label for="vipSupport" class="additional-service-label-wrapper"
                             data-container="body" data-trigger="hover"
                             data-toggle="popover" data-placement="top"
                             data-content='Your order gets top priority; completed by a top writer.'>

                        <div class="additional-service-wrapper">

                          <div class="info-wrapper">
                            <div>VIP Support <strong>14.99</strong></div>
                          </div>
                        </div>
                      </label>

                    </div>
                  </div>
                </div>

                <div class="form-group total-sum" style="margin-top: 30px;">
                  <div class="col-sm-12">
                    <div class="total-sum-value-wrapper bg-blue dark">
                      <span class="total-sum-sign">Order total:</span>
                      <span class="total-sum-value">14.99</span>
                <span class="total-discount-text">
                (<span class="--hidden-xs">You save: </span>
                    <span class="total-discount-value-mobile">-</span>
                    <span class="total-discount-value --hidden-xs">

                    </span>)
                </span>
                    </div>
                  </div>
                </div>

                <div class="form-group button-to-next-step">
                  <div class="col-xs-12 col-sm-6">
                    <div class="back-button-wrapper" style="cursor: pointer;">
                      <span class="custom-arrow">←&nbsp;</span>
                <span class="back-button-text" style="line-height: 38px;">
                    <span class="--hidden-xs">Back to</span>
                    <span class="hide-span-for-very-small-screen"><strong>Paper Details</strong></span>
                </span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <button onclick="OwnEssays.Wizard.next('orderFormSecondStep')" type="button" class="btn custom-button-second-step pull-right next-prev" style="margin-right: 20px;">
                      <span class="--hidden-xs hide-span-for-ipad-small-screen">Proceed to</span>
                      <span class="step-name hide-span-for-very-small-screen">Personal information</span>
                      &nbsp;&nbsp;
                      <span class="custom-arrow">→</span>
                    </button>
                  </div>
                </div>
              </form>


            </div>

            <div class="step-pane sample-pane form-horizontal" data-step="3">


              <div class="form-group" style="margin-left: 20px;">
                <div class="order-information-wrapp">
                  <span class="order-info-header-text">Your order summary:</span><br>
                  <span class="order-info-header-small-text">Please review your order details below.</span>

                  <div class="order-information" style="margin-top:20px;">
                    <div class="col-md-6 col-xs-12">
                      <div class="information-input-wrapp">
                        <span class="information-input-name">Academic level: </span><span class="information-input-value" data-type="academicLevel">College</span>
                      </div>
                      <div class="information-input-wrapp">
                        <span class="information-input-name">Type of paper: </span><span class="information-input-value" data-type="typeOfPaper">Admission essay</span>
                      </div>
                      <div class="information-input-wrapp">
                        <span class="information-input-name">Subject: </span><span class="information-input-value" data-type="subject">Anthropology</span>
                      </div>
                      <div class="information-input-wrapp">
                        <span class="information-input-name">Topic: </span>
                        <span class="information-input-value" data-type="topic">Writer's choice</span>
                      </div>
                      <div class="information-input-wrapp">
                        <span class="information-input-name">Sources: </span><span class="information-input-value" data-type="quantity">0</span>
                      </div>
                      <div class="information-input-wrapp">
                        <span class="information-input-name">Style: </span><span class="information-input-value" data-type="paperFormat">MLA</span>
                      </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                      <div class="information-input-wrapp">
                        <span class="information-input-name">Pages: </span><span class="information-input-value" data-type="pageQuantity">1</span>
                      </div>
                      <div class="information-input-wrapp">
                        <span class="information-input-name">Category of writer: </span><span class="information-input-value" data-type="writerCategory">Best available</span>
                      </div>
                      <div class="information-input-wrapp">
                        <span class="information-input-name">Power Point slides: </span><span class="information-input-value" data-type="slideQuantity">0</span>
                      </div>
                      <div class="information-input-wrapp">
                        <span class="information-input-name">Additional services: </span><span class="information-input-value"
                                                                                               data-type="addServices">none</span>
                      </div>
                      <div class="information-input-wrapp">
                        <span class="information-input-name">Deadline: </span><span class="information-input-value" data-type="deadline">11 Jan 12 AM</span>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <br>
                  <span class="order-info-header-text">Personal information:</span>
                  <br>
                  <!--<small>How do we collect and store your data? <%= link_to 'Privacy Policy', privacy_url, class: 'link-default' %></small>-->
                </div>
                <div class="user-form-wrapper" style="margin-top:20px;">

                  <div class="user-registration-wrapper">
                    <form name="registrationForm" id="registrationForm" class="form-horizontal">
                      <div class="form-alert"></div>
                      <div class="form-error alert alert-danger">
                        <ul></ul>
                      </div>

                      <div class="row padding-15">
                        <div class="user-form-input-name-wrapper pull-left col-md-4">
                          <input class="form-control user-form-input" name="name" type="text" placeholder="Your Name">
                        </div>

                        <div class="user-form-input-name-wrapper pull-left col-md-3">
                          <input class="form-control user-form-input" name="email" id="order_email" type="text" required="required" placeholder="Your email">
                        </div>

                        <div class="user-form-input-name-wrapper pull-left col-md-3">
                          <input class="form-control user-form-input" name="email_confirm" id="email_confirm" type="text" required="required" placeholder="Your email again">
                        </div>
                      </div>

                      <div class="row padding-15">

                        <div class="user-form-input-name-wrapper pull-left col-md-4">
                          <select class="form-control user-form-input phonecode" name="countryCode">
                            <option value="1" selected>USA - 1</option>
                            <option value="2">American Samoa - 684</option>
                            <option value="3">Andorra - 376</option>
                            <option value="4">Anguilla - 264</option>
                            <option value="5">Antigua - 268</option>
                            <option value="6">Argentina - 54</option>
                            <option value="7">Aruba - 297</option>
                            <option value="8">Ascension - 247</option>
                            <option value="9">Australia - 61</option>
                            <option value="10">Austria - 43</option>
                            <option value="11">Bahamas - 242</option>
                            <option value="12">Bahrain - 973</option>
                            <option value="13">Barbados - 246</option>
                            <option value="14">Barbuda - 268</option>
                            <option value="15">Belarus - 375</option>
                            <option value="16">Belgium - 32</option>
                            <option value="17">Bermuda - 441</option>
                            <option value="18">Bosnia and Herzegovina - 387</option>
                            <option value="19">Brazil - 55</option>
                            <option value="20">British Virgin Islands - 284</option>
                            <option value="21">Bulgaria - 359</option>
                            <option value="22">Canada - 1</option>
                            <option value="23">Cayman Islands - 345</option>
                            <option value="24">China - 86</option>
                            <option value="25">Croatia - 385</option>
                            <option value="26">Cyprus - 357</option>
                            <option value="27">Czech Republic - 420</option>
                            <option value="28">Denmark - 45</option>
                            <option value="29">Ecuador - 593</option>
                            <option value="30">Estonia - 372</option>
                            <option value="31">Finland - 358</option>
                            <option value="32">France - 33</option>
                            <option value="33">French Polynesia - 689</option>
                            <option value="34">Germany - 49</option>
                            <option value="35">Iceland - 354</option>
                            <option value="36">India - 91</option>
                            <option value="37">Ireland - 353</option>
                            <option value="38">Israel - 972</option>
                            <option value="39">Italy - 39</option>
                            <option value="40">Japan - 81</option>
                            <option value="41">Latvia - 371</option>
                            <option value="42">Liechtenstein - 423</option>
                            <option value="43">Lithuania - 370</option>
                            <option value="44">Luxembourg - 352</option>
                            <option value="45">Mexico - 52</option>
                            <option value="46">Netherlands - 31</option>
                            <option value="47">New Zealand - 64</option>
                            <option value="48">Norway - 47</option>
                            <option value="49">Poland - 48</option>
                            <option value="50">Portugal - 351</option>
                            <option value="51">Russia - 7</option>
                            <option value="52">Saudi Arabia - 966</option>
                            <option value="53">Slovakia - 421</option>
                            <option value="54">Slovenia - 386</option>
                            <option value="55">Spain - 34</option>
                            <option value="56">Sweden - 46</option>
                            <option value="57">Switzerland - 41</option>
                            <option value="58">Turkey - 90</option>
                            <option value="59">Uganda - 256</option>
                            <option value="60">Ukraine - 380</option>
                            <option value="61">United Arab Emirates - 971</option>
                            <option value="62">United Kingdom - 44</option>
                            <option value="63">U.S. Virgin Islands - 340</option>
                            <option value="64">Wake Island - 808</option>
                            <option value="65">Yemen - 967</option>
                          </select>
                        </div>

                        <div class="user-form-input-name-wrapper pull-left col-md-3">
                          <input class="form-control user-form-input phone" name="phone" placeholder="Your phone" type="text">
                        </div>

                        <div class="user-form-input-name-wrapper pull-left col-md-3">
                          <input class="form-control user-form-input phone" name="coupon" placeholder="Coupon code" type="text">
                        </div>

                      </div>

                    </form>
                  </div>


                </div>
              </div>


              <div class="form-group total-sum" style="margin: 40px 20px 10px 22px; padding-right: 22px;">
                <div class="col-xs-12 col-sm-12 no-padding">
                  <div class="total-sum-value-wrapper bg-blue dark">
                    <span class="total-sum-sign">Order total:</span>
                    <span class="total-sum-value">0.00</span>
                  </div>
                </div>
              </div>

              <div class="form-group button-to-next-step" style="margin-left: 20px;">
                <div class="col-xs-12 col-sm-6 no-padding">
                  <div class="back-button-wrapper" style="cursor: pointer;">
                    <span class="custom-arrow">←&nbsp;</span>
                    <span class="back-button-text" style="line-height: 38px;">
                        <span class="--hidden-xs">Back to</span>
                        <span class="hide-span-for-very-small-screen"><strong>Price Calculation</strong></span>
                    </span>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 no-padding">
                  <button onclick="OwnEssays.Wizard.next('registrationForm');" type="button"
                          class="btn custom-button-second-step pull-right next-prev" style="margin-right: 10px;">
                    <span class="--hidden-xs hide-span-for-ipad-small-screen">Proceed to</span>
                    <span class="step-name hide-span-for-very-small-screen">Checkout</span>
                    &nbsp;&nbsp;
                    <span class="custom-arrow">→</span>
                  </button>
                </div>
              </div>


            </div>

            <div class="step-pane sample-pane form-horizontal" data-step="4">


              <div class="form-group" style="margin-left: 20px;">
                <form id="checkoutForm" name="checkoutForm" action="#" role="form">

                  <div class="form-alert"></div>
                  <div class="form-error alert alert-danger">
                    <ul></ul>
                  </div>

                  <div class="card-wrapper pull-right padding-20 hidden-xs"></div>

                  <div style="width: 250px;" class="padding-10 pull-left">
                    <span class="order-info-header-text">Your payment details</span><br/>

                    <div class="padding-10">
                      <input id="ccNo" class="form-control" name="ccNo" placeholder="0000-0000-0000-0000" type="text" required/>
                    </div>
                    <div class="padding-10">
                      <input placeholder="Name on card" class="form-control" name="nameOnCard" id="nameOnCard" type="text" required>
                    </div>
                    <div>
                      <div class="col-md-6 col-sm-12 padding-10">
                        <input placeholder="12/2017" class="form-control" name="expiry" id="expiry" type="text" required></div>
                      <div class="col-md-6 col-sm-12 padding-10">
                        <input placeholder="CVC" class="form-control" id="cvc" type="text" required/></div>
                    </div>
                    <!--<input type="hidden" name="token" id="token" value="">-->
                  </div>

                  <div style="padding: 20px; margin-top:20px;">
                    <br>
                    <br>
                    <span class="order-info-header-text">Billing address</span><br>
                    <div>
                      <div class="col-sm-6 col-xs-12 no-padding">
                        <!--<input placeholder="Country" class="form-control" name="country" id="country" type="text" required>-->
                        <select name="country" id="country" class="form-control custom-dropdown selectpicker" data-live-search="true">
                          <option class="" disabled selected value="">
                            Please select country
                          </option>
                          <option value="ABW">Aruba</option>
                          <option value="AFG">Afghanistan</option>
                          <option value="AGO">Angola</option>
                          <option value="AIA">Anguilla</option>
                          <option value="ALA">Åland Islands</option>
                          <option value="ALB">Albania</option>
                          <option value="AND">Andorra</option>
                          <option value="ANT">Netherlands Antilles</option>
                          <option value="ARE">United Arab Emirates</option>
                          <option value="ARG">Argentina</option>
                          <option value="ARM">Armenia</option>
                          <option value="ASM">American Samoa</option>
                          <option value="ATA">Antarctica</option>
                          <option value="ATF">French Southern Territories</option>
                          <option value="ATG">Antigua and Barbuda</option>
                          <option value="AUS">Australia</option>
                          <option value="AUT">Austria</option>
                          <option value="AZE">Azerbaijan</option>
                          <option value="BDI">Burundi</option>
                          <option value="BEL">Belgium</option>
                          <option value="BEN">Benin</option>
                          <option value="BFA">Burkina Faso</option>
                          <option value="BGD">Bangladesh</option>
                          <option value="BGR">Bulgaria</option>
                          <option value="BHR">Bahrain</option>
                          <option value="BHS">Bahamas</option>
                          <option value="BIH">Bosnia and Herzegovina</option>
                          <option value="BLM">Saint Barthélemy</option>
                          <option value="BLR">Belarus</option>
                          <option value="BLZ">Belize</option>
                          <option value="BMU">Bermuda</option>
                          <option value="BOL">Bolivia, Plurinational State of</option>
                          <option value="BRA">Brazil</option>
                          <option value="BRB">Barbados</option>
                          <option value="BRN">Brunei Darussalam</option>
                          <option value="BTN">Bhutan</option>
                          <option value="BVT">Bouvet Island</option>
                          <option value="BWA">Botswana</option>
                          <option value="CAF">Central African Republic</option>
                          <option value="CAN">Canada</option>
                          <option value="CCK">Cocos (Keeling) Islands</option>
                          <option value="CHE">Switzerland</option>
                          <option value="CHL">Chile</option>
                          <option value="CHN">China</option>
                          <option value="CIV">Côte d'Ivoire</option>
                          <option value="CMR">Cameroon</option>
                          <option value="COD">Congo, the Democratic Republic of the</option>
                          <option value="COG">Congo</option>
                          <option value="COK">Cook Islands</option>
                          <option value="COL">Colombia</option>
                          <option value="COM">Comoros</option>
                          <option value="CPV">Cape Verde</option>
                          <option value="CRI">Costa Rica</option>
                          <option value="CUB">Cuba</option>
                          <option value="CXR">Christmas Island</option>
                          <option value="CYM">Cayman Islands</option>
                          <option value="CYP">Cyprus</option>
                          <option value="CZE">Czech Republic</option>
                          <option value="DEU">Germany</option>
                          <option value="DJI">Djibouti</option>
                          <option value="DMA">Dominica</option>
                          <option value="DNK">Denmark</option>
                          <option value="DOM">Dominican Republic</option>
                          <option value="DZA">Algeria</option>
                          <option value="ECU">Ecuador</option>
                          <option value="EGY">Egypt</option>
                          <option value="ERI">Eritrea</option>
                          <option value="ESH">Western Sahara</option>
                          <option value="ESP">Spain</option>
                          <option value="EST">Estonia</option>
                          <option value="ETH">Ethiopia</option>
                          <option value="FIN">Finland</option>
                          <option value="FJI">Fiji</option>
                          <option value="FLK">Falkland Islands (Malvinas)</option>
                          <option value="FRA">France</option>
                          <option value="FRO">Faroe Islands</option>
                          <option value="FSM">Micronesia, Federated States of</option>
                          <option value="GAB">Gabon</option>
                          <option value="GBR">United Kingdom</option>
                          <option value="GEO">Georgia</option>
                          <option value="GGY">Guernsey</option>
                          <option value="GHA">Ghana</option>
                          <option value="GIB">Gibraltar</option>
                          <option value="GIN">Guinea</option>
                          <option value="GLP">Guadeloupe</option>
                          <option value="GMB">Gambia</option>
                          <option value="GNB">Guinea-Bissau</option>
                          <option value="GNQ">Equatorial Guinea</option>
                          <option value="GRC">Greece</option>
                          <option value="GRD">Grenada</option>
                          <option value="GRL">Greenland</option>
                          <option value="GTM">Guatemala</option>
                          <option value="GUF">French Guiana</option>
                          <option value="GUM">Guam</option>
                          <option value="GUY">Guyana</option>
                          <option value="HKG">Hong Kong</option>
                          <option value="HMD">Heard Island and McDonald Islands</option>
                          <option value="HND">Honduras</option>
                          <option value="HRV">Croatia</option>
                          <option value="HTI">Haiti</option>
                          <option value="HUN">Hungary</option>
                          <option value="IDN">Indonesia</option>
                          <option value="IMN">Isle of Man</option>
                          <option value="IND">India</option>
                          <option value="IOT">British Indian Ocean Territory</option>
                          <option value="IRL">Ireland</option>
                          <option value="IRN">Iran, Islamic Republic of</option>
                          <option value="IRQ">Iraq</option>
                          <option value="ISL">Iceland</option>
                          <option value="ISR">Israel</option>
                          <option value="ITA">Italy</option>
                          <option value="JAM">Jamaica</option>
                          <option value="JEY">Jersey</option>
                          <option value="JOR">Jordan</option>
                          <option value="JPN">Japan</option>
                          <option value="KAZ">Kazakhstan</option>
                          <option value="KEN">Kenya</option>
                          <option value="KGZ">Kyrgyzstan</option>
                          <option value="KHM">Cambodia</option>
                          <option value="KIR">Kiribati</option>
                          <option value="KNA">Saint Kitts and Nevis</option>
                          <option value="KOR">Korea, Republic of</option>
                          <option value="KWT">Kuwait</option>
                          <option value="LAO">Lao People's Democratic Republic</option>
                          <option value="LBN">Lebanon</option>
                          <option value="LBR">Liberia</option>
                          <option value="LBY">Libyan Arab Jamahiriya</option>
                          <option value="LCA">Saint Lucia</option>
                          <option value="LIE">Liechtenstein</option>
                          <option value="LKA">Sri Lanka</option>
                          <option value="LSO">Lesotho</option>
                          <option value="LTU">Lithuania</option>
                          <option value="LUX">Luxembourg</option>
                          <option value="LVA">Latvia</option>
                          <option value="MAC">Macao</option>
                          <option value="MAF">Saint Martin (French part)</option>
                          <option value="MAR">Morocco</option>
                          <option value="MCO">Monaco</option>
                          <option value="MDA">Moldova, Republic of</option>
                          <option value="MDG">Madagascar</option>
                          <option value="MDV">Maldives</option>
                          <option value="MEX">Mexico</option>
                          <option value="MHL">Marshall Islands</option>
                          <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
                          <option value="MLI">Mali</option>
                          <option value="MLT">Malta</option>
                          <option value="MMR">Myanmar</option>
                          <option value="MNE">Montenegro</option>
                          <option value="MNG">Mongolia</option>
                          <option value="MNP">Northern Mariana Islands</option>
                          <option value="MOZ">Mozambique</option>
                          <option value="MRT">Mauritania</option>
                          <option value="MSR">Montserrat</option>
                          <option value="MTQ">Martinique</option>
                          <option value="MUS">Mauritius</option>
                          <option value="MWI">Malawi</option>
                          <option value="MYS">Malaysia</option>
                          <option value="MYT">Mayotte</option>
                          <option value="NAM">Namibia</option>
                          <option value="NCL">New Caledonia</option>
                          <option value="NER">Niger</option>
                          <option value="NFK">Norfolk Island</option>
                          <option value="NGA">Nigeria</option>
                          <option value="NIC">Nicaragua</option>
                          <option value="NIU">Niue</option>
                          <option value="NLD">Netherlands</option>
                          <option value="NOR">Norway</option>
                          <option value="NPL">Nepal</option>
                          <option value="NRU">Nauru</option>
                          <option value="NZL">New Zealand</option>
                          <option value="OMN">Oman</option>
                          <option value="PAK">Pakistan</option>
                          <option value="PAN">Panama</option>
                          <option value="PCN">Pitcairn</option>
                          <option value="PER">Peru</option>
                          <option value="PHL">Philippines</option>
                          <option value="PLW">Palau</option>
                          <option value="PNG">Papua New Guinea</option>
                          <option value="POL">Poland</option>
                          <option value="PRI">Puerto Rico</option>
                          <option value="PRK">Korea, Democratic People's Republic of</option>
                          <option value="PRT">Portugal</option>
                          <option value="PRY">Paraguay</option>
                          <option value="PSE">Palestinian Territory, Occupied</option>
                          <option value="PYF">French Polynesia</option>
                          <option value="QAT">Qatar</option>
                          <option value="REU">Réunion</option>
                          <option value="ROU">Romania</option>
                          <option value="RUS">Russian Federation</option>
                          <option value="RWA">Rwanda</option>
                          <option value="SAU">Saudi Arabia</option>
                          <option value="SDN">Sudan</option>
                          <option value="SEN">Senegal</option>
                          <option value="SGP">Singapore</option>
                          <option value="SGS">South Georgia and the South Sandwich Islands</option>
                          <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
                          <option value="SJM">Svalbard and Jan Mayen</option>
                          <option value="SLB">Solomon Islands</option>
                          <option value="SLE">Sierra Leone</option>
                          <option value="SLV">El Salvador</option>
                          <option value="SMR">San Marino</option>
                          <option value="SOM">Somalia</option>
                          <option value="SPM">Saint Pierre and Miquelon</option>
                          <option value="SRB">Serbia</option>
                          <option value="STP">Sao Tome and Principe</option>
                          <option value="SUR">Suriname</option>
                          <option value="SVK">Slovakia</option>
                          <option value="SVN">Slovenia</option>
                          <option value="SWE">Sweden</option>
                          <option value="SWZ">Swaziland</option>
                          <option value="SYC">Seychelles</option>
                          <option value="SYR">Syrian Arab Republic</option>
                          <option value="TCA">Turks and Caicos Islands</option>
                          <option value="TCD">Chad</option>
                          <option value="TGO">Togo</option>
                          <option value="THA">Thailand</option>
                          <option value="TJK">Tajikistan</option>
                          <option value="TKL">Tokelau</option>
                          <option value="TKM">Turkmenistan</option>
                          <option value="TLS">Timor-Leste</option>
                          <option value="TON">Tonga</option>
                          <option value="TTO">Trinidad and Tobago</option>
                          <option value="TUN">Tunisia</option>
                          <option value="TUR">Turkey</option>
                          <option value="TUV">Tuvalu</option>
                          <option value="TWN">Taiwan, Province of China</option>
                          <option value="TZA">Tanzania, United Republic of</option>
                          <option value="UGA">Uganda</option>
                          <option value="UKR">Ukraine</option>
                          <option value="UMI">United States Minor Outlying Islands</option>
                          <option value="URY">Uruguay</option>
                          <option value="USA">United States</option>
                          <option value="UZB">Uzbekistan</option>
                          <option value="VAT">Holy See (Vatican City State)</option>
                          <option value="VCT">Saint Vincent and the Grenadines</option>
                          <option value="VEN">Venezuela, Bolivarian Republic of</option>
                          <option value="VGB">Virgin Islands, British</option>
                          <option value="VIR">Virgin Islands, U.S.</option>
                          <option value="VNM">Viet Nam</option>
                          <option value="VUT">Vanuatu</option>
                          <option value="WLF">Wallis and Futuna</option>
                          <option value="WSM">Samoa</option>
                          <option value="YEM">Yemen</option>
                          <option value="ZAF">South Africa</option>
                          <option value="ZMB">Zambia</option>
                          <option value="ZWE">Zimbabwe</option>
                        </select>

                      </div>

                      <div class="col-sm-6 col-xs-12 no-padding">
                        <input placeholder="State (or county - outside USA)" class="form-control" name="state" id="state" type="text" required>
                      </div>
                    </div>

                    <div>
                      <div class="col-sm-6 col-xs-12 no-padding">
                        <input placeholder="City" class="form-control" name="city" id="city" type="text" required>
                      </div>
                      <div class="col-sm-6 col-xs-12 no-padding">
                        <input placeholder="ZIP (or postal) Code" class="form-control" name="zipCode" id="zipCode" type="text" required>
                      </div>
                    </div>

                    <div class="">
                      <input placeholder="Address Line 1" class="form-control" name="addrLine1" id="addrLine1" type="text" required>
                      <input placeholder="Address Line 2 (optional)" class="form-control" name="addrLine1" id="addrLine2" type="text">
                    </div>
                  </div>
                </form>
              </div>

              <div class="form-group total-sum" style="margin: 0 20px 5px 22px; padding-right: 22px;">
                <div class="col-xs-12 col-sm-12 no-padding">
                  <div class="total-sum-value-wrapper bg-blue dark">
                    <span class="total-sum-sign">Order total:</span>
                    <span class="total-sum-value">0.00</span>
                  </div>
                </div>
              </div>

              <div class="form-group" style="text-align: center;">
                <div class="col-xs-12 col-sm-12 no-padding">
                  <button onclick="OwnEssays.Wizard.next('checkoutForm'); OwnEssays.TCO.tokenRequest();" type="button"
                          class="btn next-prev">
                    <span class="step-name">Place an Order now (secure checkout)</span>
                  </button>
                </div>
              </div>


            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>