
<nav id="mobile-nav" class="bg-blue-dark dark">
  <div class="mobile-nav-wrapper">
    <div class="widget_first widget_top">
      <div class="widget_title">Why Choose OwnEssays?</div>
      <div class="sb_service sb_service1">
        <div class="sb_service_t">Native English Speaking Writers</div>
        <div class="sb_service_e">A team of native English speaking professionals with 3 years + of academic writing experience.</div>
      </div>
      <div class="sb_service sb_service2">
        <div class="sb_service_t">Plagiarism-free Guarantee</div>
        <div class="sb_service_e">Your work is 100% written from scratch by your writer. All our papers are checked by Turnitin.com - like plagiarism detection software.</div>
      </div>
      <div class="sb_service sb_service3">
        <div class="sb_service_t">100% Moneyback Guarantee</div>
        <div class="sb_service_e">If you detect plagiarism in your term paper, custom essay, research paper, or book report, we will issue a complete refund, no questions asked.</div>
      </div>
      <div class="sb_service sb_service4">
        <div class="sb_service_t">24/7 Support and 100% Privacy</div>
        <div class="sb_service_e">You may reach our customer support whenever you need us. We never and under no circumstances will reveal your identity to any third party.</div>
      </div>
      <div>
        <a href="#" class="btn btn-default btn-huge" data-toggle="modal" data-target="#orderNow" style="margin: auto 0 0 30px;"><span>Order Now</span></a>
      </div>
    </div>
  </div>
  </div>
  <a href="#" class="mobile-nav-close" data-target="mobile-nav"><i class="fa fa-arrow-circle-o-right"></i></a>
</nav>