<div class="modal fade modal-blue-dark" id="teamModal1" tabindex="-1" role="dialog">
  <button type="button" class="modal-close x-close" data-dismiss="modal"><span
  class="sr-only">Close</span></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-intro text-center">
      <div class="member-photo margin-t-70"><img class="square"
                                                 src="/static/img/members/member01.jpg"
                                                 alt=""/></div>
      <h1 class="margin-b-10">Goran P.</h1>
    </div>
    <div class="modal-body">
      <ul class="list-clean padding-l-0">
        <li class="animated" data-animation="fadeInRight">Age: 41</li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="100">Country of Residence: <span>United Kingdom</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="100">Degree: <span>MSc In Financial Management, London, UK</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="200">Fields of Proficiency: <span>Corporate Finance, Investments, Portfolio Management.</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="300">Years of Writing Experience: <span>4 years experience writing financial projects, reviews and assignments.</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="400">Contact the Writer: <span>goran_p@ownessays.com</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="modal fade modal-blue-dark" id="teamModal2" tabindex="-1" role="dialog">
  <button type="button" class="modal-close x-close" data-dismiss="modal"><span
  class="sr-only">Close</span></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-intro text-center">
      <div class="member-photo margin-t-70"><img class="square"
                                                 src="/static/img/members/member02.jpg"
                                                 alt=""/></div>
      <h1 class="margin-b-10">Sandra S.</h1>
    </div>
    <div class="modal-body">
      <ul class="list-clean padding-l-0">
        <li class="animated" data-animation="fadeInRight">Age: 43</li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="100">Country of Residence: <span>USA</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="200">Degree: <span>MA in Comparative Literature</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="300">Fields of Proficiency: <span>Arts and Humanities, Renaissance Literature, Post-Modern Relativism.</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="400">Years of Writing Experience: <span>6 years experience writing articles for specialized Art and Literature journals.</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="500">Contact the Writer: <span>sandra_s@ownessays.com</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="modal fade modal-blue-dark" id="teamModal3" tabindex="-1" role="dialog">
  <button type="button" class="modal-close x-close" data-dismiss="modal"><span
  class="sr-only">Close</span></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-intro text-center">
      <div class="member-photo margin-t-70"><img class="square"
                                                 src="/static/img/members/member03.jpg"
                                                 alt=""/></div>
      <h1 class="margin-b-10">Bob R.</h1>
    </div>
    <div class="modal-body">
      <ul class="list-clean padding-l-0">
        <li class="animated" data-animation="fadeInRight">Age: <span>33</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="100">Country of Residence: <span>USA</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="200">Degree: <span>Master's Degree in Interdisciplinary Social Science</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="300">Fields of Proficiency: <span>Sociology, Political and Behavioral Studies.</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="400">Years of Writing Experience: <span>5 years experience writing on Sociology and Political studies, Human Behavior and Social Science.</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="500">Contact the Writer: <span>bob_r@ownessays.com</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="modal fade modal-blue-dark" id="teamModal4" tabindex="-1" role="dialog">
  <button type="button" class="modal-close x-close" data-dismiss="modal"><span
  class="sr-only">Close</span></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-intro text-center">
      <div class="member-photo margin-t-70"><img class="square"
                                                 src="/static/img/members/member04.jpg"
                                                 alt=""/></div>
      <h1 class="margin-b-10">Jim H.</h1>
    </div>
    <div class="modal-body">
      <ul class="list-clean padding-l-0">
        <li class="animated" data-animation="fadeInRight">Age: <span>38</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="100">Country of Residence: <span>United Kingdom</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="200">Degree: <span>MA in International Economic Law and Criminal Justice</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="300">Fields of Proficiency: <span>wrote essays in major Law editorials throughout North America; Business Law essays (including Corporate Law Studies), Public and Civil Law tutorials and seminars.</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="400">Years of Writing Experience: <span>9 years writing experience in International Economic Law Field, co-edited a Jurisprudence journal in Ontario, Canada.</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="500">Contact the Writer: <span>jim_h@ownessays.com</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="modal fade modal-blue-dark" id="teamModal5" tabindex="-1" role="dialog">
  <button type="button" class="modal-close x-close" data-dismiss="modal"><span
  class="sr-only">Close</span></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-intro text-center">
      <div class="member-photo margin-t-70"><img class="square"
                                                 src="/static/img/members/member05.jpg"
                                                 alt=""/></div>
      <h1 class="margin-b-10">Ryan P.</h1>
    </div>
    <div class="modal-body">
      <ul class="list-clean padding-l-0">
        <li class="animated" data-animation="fadeInRight">Age: <span>32</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="100">Country of Residence: <span>USA</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="200">Degree: <span>MBA</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="300">Fields of Proficiency: <span>International Business studies, Risk Management, Marketing Strategic Planning, Information Technology Management.</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="400">Years of Writing Experience:<span>4 years writing experience on International Business Studies, Marketing and Management Strategies as well as Telecommunications Management.</span></li>
        <li class="animated" data-animation="fadeInRight" data-animation-delay="500">Contact the Writer: <span>ryan_p@ownessays.com</span></li>
      </ul>
    </div>
  </div>
</div>