<div class="row section fullheight bg-blue-dark dark padding-v-100" style="min-height: 100%; min-height: 100vh; display: flex; align-items: center;">
  <div class="col-md-3 col-xs-12 col-md-offset-3">
    <h2>Log in to backoffice</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control", autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        <% end -%>

        <div class="actions padding-t-20">
          <%= f.submit "Log in", class: "btn btn-orange btn-filled" %>
        </div>
    <% end %>
  </div>
  <div class="col-md-3 col-xs-12">
    <%= render "devise/shared/links" %>
  </div>
</div>

