<div id="page-wrapper" class="bg-blue-dark dark" data-scroll-easing="easeOutBack">

  <div class="posts-list">

    <% colors = %w(bg-green bg-orange bg-red bg-blue bg-purple bg-green bg-orange bg-red bg-blue bg-purple) %>
    <% if @posts.count > 0 %>
        <% @posts.each_with_index do |post, index| %>
            <!-- Post - Section -->
            <div class="post section <%= colors[index] %> dark" data-header-change="true">

              <div class="image">
                <div class="bg-image">
                  <%= image_tag post.photo %>
                </div>
              </div>

              <div class="content">
                <div class="meta">
                  <span><i class="fa fa-clock-o"></i><%= post.updated_at.strftime("%B %d, %Y") %></span>
                  <span><i class="fa fa-tag"></i><%= post.category %></span>
                  <span><i class="fa fa-user"></i><%= post.author %></span>
                </div>
                <h1>
                  <%= link_to raw(post.title), show_post_path(post), data: { target: "ajax-modal"} %>
                </h1>

                <p>
                  <%= raw post.subtitle %>
                </p>

                <%= link_to "Read more",
                            show_post_path(post),
                            data: { target: "ajax-modal"},
                            class: "link-default" %>
              </div>

            </div>
            <!-- Post - Section / End -->
        <% end %>


    <% else %>

    <% end %>

  </div>

  <%= paginate @posts %>

  <!-- Footer -->
  <footer id="footer" class="bg-blue-dark padding-v-40 dark text-center">
    <div class="section-content copyright margin-b-20">
      Copyright <strong>OwnEssays.com</strong> 2018 ©. Made with love by <a
    href="http://phar.media"><strong>phar:media</strong></a>
    </div>
        <span data-target="local-scroll"><a href="#section01" class="back-to-top"><i
        class="fa fa-chevron-up"></i></a></span>
  </footer>
  <!-- Footer / End -->

</div>

<%= render 'shared/sidebar' %>

<%= render 'shared/order_form_modal' %>
