<!-- Page Wrapper -->
<div id="page-wrapper" class="bg-blue-dark dark padding-t-130" data-scroll-easing="easeOutBack">

  <!-- @post.-->
  <div class="@post.container">
    <!--<div class="row margin-b-40">
      <div class="col-md-8 col-sm-10">
        <%= image_tag @post.photo(:headline) %>
      </div>
    </div>-->
    <div class="row">
      <div class="col-lg-8 col-sm-9 col-sm-offset-1">
        <div class="meta">
          <span><i class="fa fa-clock-o"></i><%= @post.updated_at.strftime("%B %d, %Y") %></span>
          <span><i class="fa fa-tag"></i><%= @post.category %></span>
          <span><i class="fa fa-user"></i><%= @post.author %></span>
        </div>
        <div class="@post.content margin-b-80">
          <h1><%= raw @post.title %></h1>

          <p class="lead">
            <%= raw @post.subtitle %>
          </p>

          <p>
            <%= raw @post.content %>
          </p>

        </div>
        <!-- Comments -->
      </div>
    </div>
  </div>

  <% if @non_ajax %>
      <!-- Footer -->
      <footer id="footer" class="bg-blue-dark padding-v-40 dark text-center">
        <div class="section-content copyright margin-b-20">
          Copyright <strong>OwnEssays.com</strong> 2016©. Made with love by <a
        href="http://phar.media"><strong>phar:media</strong></a>
        </div>
        <span data-target="local-scroll"><a href="#section01" class="back-to-top"><i
        class="fa fa-chevron-up"></i></a></span>
      </footer>
      <!-- Footer / End -->
  <% else %>
      <!-- Close -->
      <a href="#" class="ajax-close x-close" data-dismiss="close"></a>
  <% end %>

</div>
<!-- Page Wrapper / End -->